RBAC Internal Chatbot - v3.json
{
  "name": "RBAC Internal Chatbot - v3",
  "nodes": [
    {
      "parameters": {
        "public": true,
        "initialMessages": "Hi there ! 👋  \nWelcome to Redacted, I am your AI Assistant, how can i help you today",
        "options": {
          "loadPreviousSession": "memory",
          "responseMode": "lastNode"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        -4432,
        -368
      ],
      "id": "a2c424b3-7d1f-44f4-b7b0-425fbaed3c8b",
      "name": "When chat message received",
      "webhookId": "f729e7cc-2031-4142-a9b8-ffe73bff1004"
    },
    {
      "parameters": {
        "content": "\n**Separate memory for session id to reduce hallucination: Solves issue that conjoining same memory module with AI Agent creates i.e, if hallunicated - it only gets context of that.**",
        "height": 416,
        "width": 560,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -4688,
        -512
      ],
      "typeVersion": 1,
      "id": "88363e1c-6138-48c1-b102-86f9a7006f0a",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "contextWindowLength": 30
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -4448,
        64
      ],
      "id": "ec31bd0d-c7ed-4e52-9535-37a5b664b46f",
      "name": "Session memory"
    },
    {
      "parameters": {
        "content": "## Endpoints\n",
        "height": 304,
        "width": 1216
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2208,
        -2080
      ],
      "typeVersion": 1,
      "id": "44630a5a-c5c8-4183-8993-4bc0edc2251e",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Memory Context Workaround\n1. The problem: Chat agent only gets context from messages. Not tool calls. And since we only need to execute tool call once, we need memory persistence. \n2. Solution: Have something that captures the tool call context (previous edit fields node)\n3. Workaround: Use the memory manager (helps control the memory context) to update the memory context with the captured tool context (chatAppend).  ",
        "height": 576,
        "width": 800,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1840,
        224
      ],
      "typeVersion": 1,
      "id": "a2d0d639-df1f-4901-ad20-de0b5aebc24b",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "## Memory Context Workaround (continuation)\n4. Now chatRetrieve has updated context of both user messages and tool context.  ",
        "height": 544,
        "width": 480,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2720,
        128
      ],
      "typeVersion": 1,
      "id": "f56ba10e-c22e-4a69-a054-107edd7c85d3",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('When chat message received').item.json.sessionId }}",
        "contextWindowLength": 4
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        2800,
        656
      ],
      "id": "bb046f17-295e-47fc-9951-9f3c3300fdfe",
      "name": "chatRetriever"
    },
    {
      "parameters": {
        "url": "https://backend.diyprefab.com/api/v1/project/get-projects",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "limit",
              "value": "50"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('When chat message received').item.json.metadata.userDetails.token }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1504,
        288
      ],
      "id": "80113398-eedc-4246-88eb-0aeaa73f1a20",
      "name": "HTTP Request",
      "retryOnFail": true
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "o4-mini",
          "mode": "list",
          "cachedResultName": "o4-mini"
        },
        "options": {
          "temperature": 1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        4384,
        768
      ],
      "id": "cc08aaee-3d62-4e6f-9783-9d5492ab73aa",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "W6MBR00alcbgJqVh",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.memoryManager",
      "typeVersion": 1.1,
      "position": [
        -2624,
        304
      ],
      "id": "54454b84-d715-44a4-bae9-050bf519629f",
      "name": "Chat Memory Manager3"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('When chat message received').item.json.sessionId }}",
        "contextWindowLength": 30
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -2624,
        528
      ],
      "id": "5c8b72b8-5a34-455f-8039-fa65ced283f6",
      "name": "Simple Memory2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "bf01933c-a6f4-4fb2-89f9-ce6498da9bef",
              "name": "project context",
              "value": "={{ $json.data }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1040,
        448
      ],
      "id": "44b203ee-087b-40b2-923d-3eb529103a16",
      "name": "capture http request context"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "ef960730-b79c-4649-b869-e47919c71fba",
              "leftValue": "={{ $json.messages }}",
              "rightValue": 0,
              "operator": {
                "type": "array",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2112,
        304
      ],
      "id": "9f678a43-c048-4a59-8335-f21c8574c60a",
      "name": "New session check"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('When chat message received').item.json.sessionId }}",
        "contextWindowLength": 4
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        2352,
        640
      ],
      "id": "5a136b84-b7f7-46ac-b274-324fa4e662dd",
      "name": "chatAppend1"
    },
    {
      "parameters": {
        "mode": "insert",
        "messages": {
          "messageValues": [
            {
              "message": "={{ JSON.stringify($('When chat message received').item.json.metadata.userDetails) }}",
              "hideFromUI": true
            },
            {
              "message": "={{ JSON.stringify($json['project context']) }}",
              "hideFromUI": true
            },
            {
              "message": "={{ JSON.stringify($json.deals_context) }}",
              "hideFromUI": true
            },
            {
              "message": "={{ JSON.stringify($json.allowed_projects) }}",
              "hideFromUI": true
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.memoryManager",
      "typeVersion": 1.1,
      "position": [
        2352,
        432
      ],
      "id": "716a706b-396d-48af-896b-d70405b3c1ca",
      "name": "Insert http context into memory",
      "executeOnce": true
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('When chat message received').item.json.sessionId }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1008,
        1536
      ],
      "id": "42db0760-06e9-421a-8034-265e8a40877d",
      "name": "Simple Memory1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.memoryManager",
      "typeVersion": 1.1,
      "position": [
        1008,
        1312
      ],
      "id": "6b15a7f6-f5e5-420e-ad1d-9703bee6da2c",
      "name": "Get convo history"
    },
    {
      "parameters": {
        "mode": "insert"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryManager",
      "typeVersion": 1.1,
      "position": [
        112,
        1312
      ],
      "id": "6ebb4ce0-61fe-489f-ac14-d6986c55594e",
      "name": "Insert message"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('When chat message received').item.json.sessionId }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        112,
        1520
      ],
      "id": "d77e3591-41df-4a9d-adb1-fdfe97f1f193",
      "name": "Simple Memory3"
    },
    {
      "parameters": {
        "content": "## Flow 2 - Existing PP User\n**Existing user's session** \n\n- Need to preserve RBAC context \n- Understand follow-up queries\n- Utilize created VS",
        "height": 176,
        "width": 320,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2288,
        720
      ],
      "typeVersion": 1,
      "id": "92c85ed5-2286-43cd-b526-8ee9139667f0",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "content": "## Flow 1 - New PP User\n**When the user first creates a session** \n\n- Need to preserve RBAC context \n- Understand follow-up queries\n- Create VS if needed for the respective project",
        "height": 176,
        "width": 368,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2208,
        96
      ],
      "typeVersion": 1,
      "id": "26bc1204-fe29-4a1e-ae29-035d0f749a7d",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "content": "## ROUGH\n\n## DATA SOURCES\n**mongodb has collection for documents - mongodb sync service pushes these files to elastic search. \n\n\ns3 -  files (any type)\n\nelastic search - only for qrf documents (generated qrf is stored as json only)**\n\nzamil manual for multi modal purposes.  \n\n\ncreate a matrix mapping between llm chain/tool_call_possibility for lets say 3 sources for tool search are given and based on those, it needs to execute flow possibility like for example: go to zamil -> open search and stop - or - open-search -> min io files and stop\n\n\n## FILE STRUCTURE FOR MINIO ACCESS PART\n\nstage - ignore for now\n\ndept - within employees - files exist when uploaded within dept or tagged employee only \n\ndiyva folder gets created when the employee tags the partner so that the partner can access the files - so divya folder access is given to partner and employee\n\nVVA or something folder - usually partner company ID - created when partner uploads a file. \n\n\n## ACCOUNT TYPES:\n\nHierarchy tree for account types:\nPlatform provider: has 3 roles super admin, admin and employee\n\nPartner's account: has 2 roles admin and employee\n\nsuper admin - has access to everything - account type is platform provider\npartner - has access to deals but not to project \n",
        "height": 816,
        "width": 928
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -704,
        -2512
      ],
      "typeVersion": 1,
      "id": "e1961a71-6eb1-4cc8-96f3-ec83d38cfa5b",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "content": "## Capabilities required\n- RBAC Context - Done through browser endpoint \n- Access files for the given project - Needs to crawl through minio to get information about the files. \n- Information regarding the generated QRF (opensearch enabled with mongodb sync)\n\n## Potential\n- Long term memory with a reliable DB that can store user, sessionID and memory context details for a self learning agent that can use \"get memory\" from the DB to answer questions for a long term user. ",
        "height": 272,
        "width": 656,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1568,
        -2416
      ],
      "typeVersion": 1,
      "id": "bee4ea9d-d67c-434d-81bd-244681e6a2a1",
      "name": "Sticky Note9"
    },
    {
      "parameters": {
        "url": "https://backend.diyprefab.com/api/v1/deals/get-deals",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiI2OTcwOTgzYzA1ZDdlMDUzZTQwMDI4ODkiLCJlbWFpbCI6Im11aGFtZWQuaGFyaXNoQGVuZ2cudmVyc2FsZW5jZS5haSIsInJvbGUiOiJjdXN0b21lciIsInVzZXJfdHlwZSI6ImN1c3RvbWVyIiwic2Vzc2lvbl9pZCI6IjczZmQ0N2NjLTkzMDItNDlkZS1iNTIzLTJmMmM3YjBlNDBhZCIsImV4cCI6MTc3MDI4MjY4NH0.O3QsvKOB5OQ2EZSrKXr9rUVqIpVlvR78XmazF6uL4Pk\n"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2128,
        -1968
      ],
      "id": "9844a865-2fd5-4a51-9548-c461ea017f6f",
      "name": "get deals (only for partner)"
    },
    {
      "parameters": {
        "url": "https://backend.diyprefab.com/api/v1/deals/get-all-deals",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiI2ODg5YzY2ZTlkOTA4Y2JhMzU2Mjg0MTgiLCJlbWFpbCI6InN1cGVyYWRtaW5AZ21haWwuY29tIiwicm9sZSI6InN1cGVyYWRtaW4iLCJ1c2VyX3R5cGUiOiJwbGF0Zm9ybV9wcm92aWRlciIsInNlc3Npb25faWQiOiJmNzA2MWUzMi1kNmQxLTQxMzgtOWQ1Yy0yODc0MWVmMGM1ZDkiLCJleHAiOjE3NjIzMzA4Mzh9.5Z3gB9jqf_j4sCnXa38myA5H8sFvY-Fx8vQfsepMwMw"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1680,
        -1968
      ],
      "id": "9ccd5452-d0ec-4c98-9892-c70a8f89f2e0",
      "name": "get all deals (only for platform provider)"
    },
    {
      "parameters": {
        "url": "https://backend.diyprefab.com/api/v1/project/get-projects",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiI2ODg5YzY2ZTlkOTA4Y2JhMzU2Mjg0MTgiLCJlbWFpbCI6InN1cGVyYWRtaW5AZ21haWwuY29tIiwicm9sZSI6InN1cGVyYWRtaW4iLCJ1c2VyX3R5cGUiOiJwbGF0Zm9ybV9wcm92aWRlciIsInNlc3Npb25faWQiOiJmNzA2MWUzMi1kNmQxLTQxMzgtOWQ1Yy0yODc0MWVmMGM1ZDkiLCJleHAiOjE3NjIzMzA4Mzh9.5Z3gB9jqf_j4sCnXa38myA5H8sFvY-Fx8vQfsepMwMw"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1440,
        -1968
      ],
      "id": "93d3ca7c-fdef-41e0-9a09-ac8a27e4510b",
      "name": "Get All Projects (only for platform provider)"
    },
    {
      "parameters": {
        "url": "https://backend.diyprefab.com/api/v1/project/get-projects/PROJECT340107",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiI2ODg5YzY2ZTlkOTA4Y2JhMzU2Mjg0MTgiLCJlbWFpbCI6InN1cGVyYWRtaW5AZ21haWwuY29tIiwicm9sZSI6InN1cGVyYWRtaW4iLCJ1c2VyX3R5cGUiOiJwbGF0Zm9ybV9wcm92aWRlciIsInNlc3Npb25faWQiOiJmNzA2MWUzMi1kNmQxLTQxMzgtOWQ1Yy0yODc0MWVmMGM1ZDkiLCJleHAiOjE3NjIzMzA4Mzh9.5Z3gB9jqf_j4sCnXa38myA5H8sFvY-Fx8vQfsepMwMw"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1216,
        -1968
      ],
      "id": "d3a149ca-c941-47a9-bb78-386ad443ccb2",
      "name": "Get a specific project (agent tool) (only for platform provider)"
    },
    {
      "parameters": {
        "content": "## Route for partner or Platform provider (PP) accounts\n",
        "height": 112,
        "width": 272,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -3888,
        -1040
      ],
      "typeVersion": 1,
      "id": "f790fca9-2aec-4ca4-8cea-0bf10159f911",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.memoryManager",
      "typeVersion": 1.1,
      "position": [
        -2688,
        -960
      ],
      "id": "754a50f4-b545-4ff5-9cba-2ce71b595ba8",
      "name": "Chat Memory Manager"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('When chat message received').item.json.sessionId }}",
        "contextWindowLength": 4
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -2688,
        -736
      ],
      "id": "f38c50f6-7481-4204-8ea6-7a79327c5bc9",
      "name": "Simple Memory4"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "393b587c-7352-4bf5-8405-5bef42577116",
              "leftValue": "={{ $json.messages }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2128,
        -960
      ],
      "id": "14ddd19c-1c0b-446a-bbaf-65e640406b8c",
      "name": "New session check1"
    },
    {
      "parameters": {
        "url": "https://backend.diyprefab.com/api/v1/deals/get-deals",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('When chat message received').item.json.metadata.userDetails.token }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1600,
        -976
      ],
      "id": "e26627c2-61c8-4ecc-9d33-5e1f8d178f6d",
      "name": "get deals"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0057a1d7-96dc-4f84-98e9-2b6720ccf3d7",
              "name": "deal_context",
              "value": "={{ $json.data }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1088,
        -1328
      ],
      "id": "59f161a3-0970-4642-9da0-5e0ba595f671",
      "name": "capture deal context",
      "retryOnFail": true
    },
    {
      "parameters": {
        "mode": "insert",
        "messages": {
          "messageValues": [
            {
              "message": "={{ JSON.stringify($json.deal_context) }}",
              "hideFromUI": true
            },
            {
              "message": "={{JSON.stringify($json.user_context)}}",
              "hideFromUI": true
            },
            {
              "message": "={{ JSON.stringify($json.allowed_projects) }}"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.memoryManager",
      "typeVersion": 1.1,
      "position": [
        2448,
        -1072
      ],
      "id": "336201a7-a970-4e28-b4cb-5478cb5124c2",
      "name": "Insert context"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('When chat message received').item.json.sessionId }}",
        "contextWindowLength": 4
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        2448,
        -896
      ],
      "id": "3edea79d-f5a0-47f3-86ba-5c7c8276b10e",
      "name": "Simple Memory5"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('When chat message received').item.json.sessionId }}",
        "contextWindowLength": 4
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        2928,
        -880
      ],
      "id": "7cefc815-f678-4f79-a4a1-35e2ed4585f1",
      "name": "Simple Memory6"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('When chat message received').item.json.chatInput }}",
        "options": {
          "systemMessage": "=You are the **ROUTER AGENT** for the **DIY-Prefab Platform Provider (PP) Assistant**.\n\nYour responsibility is **STRICTLY LIMITED** to:\n\n1. Understanding the user’s intent and scope  \n2. Selecting **exactly ONE** specialist agent to handle the request  \n3. Returning the response from that specialist agent to the user\n3.1 If a specialist agent asked for clarification → STOP\n\nYou MUST NOT:\n- Perform permission or authorization checks\n- Decide what the user is allowed to see\n- Answer business, project, deal, file, or engineering questions yourself\n- Modify or reinterpret specialist agent responses\n- Reject in-scope requests due to ambiguity or missing context\n\n---\n\n## SYSTEM CONTEXT\n\nTime: {{ $now }}  \nDisplay dates and time in **Indian format only**: `dd/mm/yyyy`  \nLanguage: **English only**\n\nAuthenticated user context:\n{{ JSON.stringify($json.messages[0].system) }}\n\n⚠️ IMPORTANT:\nUser role (Platform Provider / SuperAdmin) is **contextual only**.\n**Permission enforcement is NOT the router’s responsibility.**\n\n---\n\n## SCOPE RULE (CRITICAL)\n\nIf the user message mentions **ANY** of the following, it is **IN SCOPE** and MUST be routed:\n\n- Projects or deals\n- Customers or employees\n- Status, progress, ownership, assignments\n- Files, documents, drawings, PDFs, Excel, QRFs\n- Engineering, construction, or technical topics\n- Platform or business-related data\n\nONLY refuse questions that are **clearly unrelated to the platform**, such as:\n- Food\n- Movies\n- Entertainment\n- Personal or lifestyle advice\n\n🚫 NEVER refuse business, project, deal, customer, employee, file, or engineering questions.\n\n---\n\n## AVAILABLE DOWNSTREAM AGENTS  \nYou MUST route to **exactly ONE** agent.\n\n---\n\n### 1️⃣ `project_agent`\n\nRoute here if the user is asking about:\n- Projects or deals\n- Stages, timelines, milestones\n- Status, progress, ownership\n- Assignments, approvals\n- Project-level metadata\n- Employee or team details\n\nIMPORTANT:\n- Route here even if project or deal is not explicitly identified\n- The agent will resolve context or ask clarifying questions\n\n---\n\n### 2️⃣ `file_agent1`\n\nRoute here if the user is asking about:\n- Uploaded files or documents\n- Project files or user-uploaded files\n- Building parameter details, design load details and details for the existing QRF for the user.  \n- PDFs, Excel sheets, drawings\n- QRF documents (via OpenSearch), QRF related questions\n- Any question that depends on file or document content\n\nRULE:\nIf files or documents or QRF are involved → **ALWAYS route here**\n\nIf the agent asks for clarification, stop the workflow and send the question to the user\n---\n\n### 3️⃣ `engineering_agent1`\n\nRoute here if the user is asking about:\n- Engineering specifications or concepts\n- Civil / structural explanations\n- Design standards, manuals, calculations\n- Diagrams or schematics\n\nIMPORTANT:\n- Return the engineering agent’s response **exactly as provided**\n- Do NOT alter structure, formatting, or image URLs\n\n---\n\n## ROUTING PRECEDENCE (MANDATORY)\n\nIf multiple intents appear, follow this order:\n\n1. **file_agent1**  \n2. **project_agent**  \n3. **engineering_agent1**\n\n---\n\n## FAILURE HANDLING (STRICT)\n\n- NEVER respond with “Sorry, I can’t help with this” for in-scope requests\n- NEVER block due to missing project, deal, or file context\n- ALWAYS route and allow the downstream agent to:\n  - Enforce permissions\n  - Ask clarifying questions\n  - Provide access-controlled responses\n\n---\n\n## OUTPUT\n[IMPORTANT]If any specialist agents asks for clarification (status is clarification required), stop the workflow and send the clarification question to the user\n- Respond in **normal conversational text**\n- Do NOT expose routing logic or agent names to the user\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        4944,
        416
      ],
      "id": "7915efe7-2395-4d48-9476-ec8918681589",
      "name": "PP Agent",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "o4-mini",
          "mode": "list",
          "cachedResultName": "o4-mini"
        },
        "options": {
          "temperature": 1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        3680,
        -688
      ],
      "id": "e991cbf1-9cfd-4aa8-ba11-3adfd2d54e1c",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "W6MBR00alcbgJqVh",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('When chat message received').item.json.sessionId }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -1568,
        -400
      ],
      "id": "de2d6e3b-57ad-45df-a222-9e3c9a7dfe65",
      "name": "Simple Memory8"
    },
    {
      "parameters": {
        "mode": "insert"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryManager",
      "typeVersion": 1.1,
      "position": [
        -1568,
        -592
      ],
      "id": "fac43165-2e7b-4fb9-b01e-01a2a2e7adef",
      "name": "Insert messages"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.memoryManager",
      "typeVersion": 1.1,
      "position": [
        1744,
        -608
      ],
      "id": "3b12b12a-3ee6-4acb-9ee7-37ed23d677f8",
      "name": "Get conversation history"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('When chat message received').item.json.sessionId }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1744,
        -432
      ],
      "id": "54070373-7488-4e96-9620-84d990f39cc0",
      "name": "Simple Memory9"
    },
    {
      "parameters": {
        "content": "## Flow 1 - New Partner User\n**When the user first creates a session** \n\n- Need to preserve RBAC context \n- Understand follow-up queries\n- Create VS if needed for the respective project",
        "height": 176,
        "width": 368,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2256,
        -1168
      ],
      "typeVersion": 1,
      "id": "a5f3e272-5a72-4a09-b750-2c3aa3a3381b",
      "name": "Sticky Note10"
    },
    {
      "parameters": {
        "content": "## Flow 2 - Existing Partner User\n**Existing user's session** \n\n- Need to preserve RBAC context \n- Understand follow-up queries\n- Utilize created VS",
        "height": 176,
        "width": 320,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2096,
        -592
      ],
      "typeVersion": 1,
      "id": "2055dc05-be94-431c-abfd-3a757886df6f",
      "name": "Sticky Note11"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.memoryManager",
      "typeVersion": 1.1,
      "position": [
        2928,
        -1072
      ],
      "id": "bff4215a-db6f-435d-a1f4-2237fd40d616",
      "name": "Force Provide RBAC Context"
    },
    {
      "parameters": {
        "options": {
          "groupMessages": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.memoryManager",
      "typeVersion": 1.1,
      "position": [
        2800,
        432
      ],
      "id": "f972a6f8-44f9-47ef-9132-0eba8cb5f718",
      "name": "Force HTTP context",
      "executeOnce": true
    },
    {
      "parameters": {
        "message": "={{ $('Router Agent').item.json.output }}",
        "waitUserReply": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chat",
      "typeVersion": 1,
      "position": [
        5072,
        -1360
      ],
      "id": "629a4551-2af9-49ef-bfcd-8f62a9c5fa3e",
      "name": "Respond to Chat1",
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7df7f8ab-2564-435f-b3fa-53af668ebf3d",
              "name": "user_context",
              "value": "={{ $('When chat message received').item.json.metadata.userDetails }}",
              "type": "object"
            },
            {
              "id": "6e488722-c442-40ee-ab4d-ca2639f5caf5",
              "name": "deal_context",
              "value": "={{ $('get deals').item.json.data }}",
              "type": "array"
            },
            {
              "id": "708ce589-87b1-4ed7-9a7e-35ec7b5b6e3f",
              "name": "allowed_projects",
              "value": "={{ $json['Allowed Project Context'][0] }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1344,
        -1072
      ],
      "id": "638a06f2-d6b4-4c42-b4b0-724f68b7b2f0",
      "name": "User Context",
      "retryOnFail": true
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "user_context"
            },
            {
              "fieldToAggregate": "deal_context"
            },
            {
              "fieldToAggregate": "allowed_projects"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1760,
        -1072
      ],
      "id": "290e1bba-c2ba-465d-88f9-08c57d476739",
      "name": "Aggregate1"
    },
    {
      "parameters": {
        "fieldToSplitOut": "['project context']",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -704,
        -144
      ],
      "id": "1935b38e-862b-4d53-a279-daf8f159f84d",
      "name": "Split Out2"
    },
    {
      "parameters": {
        "url": "https://backend.diyprefab.com/api/v1/deals/get-all-deals",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "limit",
              "value": "50"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('When chat message received').item.json.metadata.userDetails.token }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -240,
        -240
      ],
      "id": "450d4a96-0219-4827-9e84-180500d2aa0d",
      "name": "get all deals (only for platform provider)1",
      "executeOnce": true,
      "alwaysOutputData": false,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "=https://backend.diyprefab.com/api/v1/project/partner-files/{{ $json.project_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('When chat message received').item.json.metadata.userDetails.token }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -208,
        -1328
      ],
      "id": "5361a749-1e40-4cfe-aa93-8ce3ea3e824f",
      "name": "company(partner/customer) uploaded files",
      "retryOnFail": true
    },
    {
      "parameters": {
        "url": "=https://backend.diyprefab.com/api/v1/project/{{ $json.project_id }}/companies ",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('When chat message received').item.json.metadata.userDetails.token }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -336,
        240
      ],
      "id": "69e8ba88-c13b-4dc3-9e56-055a01213634",
      "name": "return all project file",
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d047172c-19b5-48ec-81ff-b3731c0d23fa",
              "name": "deals_context",
              "value": "={{ $json.data }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        64,
        -240
      ],
      "id": "aba78df9-1cc5-426f-a7ad-c0bd2d65586f",
      "name": "grab all deals",
      "executeOnce": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "56475499-0d01-44d0-954e-80904c8f9e5c",
              "name": "data",
              "value": "={{ $json.data }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        256,
        224
      ],
      "id": "53d43dcf-a3c5-4921-8fd7-337a80cc03a0",
      "name": "capture active project files"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "3996b73c-02e7-4301-802c-19dd36a93c1e",
              "leftValue": "={{ $json.count }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -16,
        240
      ],
      "id": "d1e74e98-f35a-47dc-a5e6-792b3bfff144",
      "name": "Filter active files"
    },
    {
      "parameters": {
        "jsCode": "function extractFiles(node) {\n  let results = [];\n\n  if (Array.isArray(node)) {\n    node.forEach(item => {\n      results = results.concat(extractFiles(item));\n    });\n  } else if (node && typeof node === \"object\") {\n    // If it is a file object → return it\n    if (node.file_id && node.file_path) {\n      results.push(node);\n      return results;\n    }\n\n    // Otherwise, keep scanning its children\n    Object.values(node).forEach(value => {\n      results = results.concat(extractFiles(value));\n    });\n  }\n\n  return results;\n}\n\nlet allFiles = [];\n\nitems.forEach(item => {\n  const data = item.json;\n  allFiles = allFiles.concat(extractFiles(data));\n});\n\nreturn allFiles.map(f => ({ json: f }));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        608,
        224
      ],
      "id": "ff857de6-4558-4437-a50a-74f9e24e5e4d",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "vksyZ13z47QY8vH5",
          "mode": "list",
          "cachedResultUrl": "/workflow/vksyZ13z47QY8vH5",
          "cachedResultName": "RBAC Internal Chatbot - STM as Cache - RAG Workflow for file upload"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        960,
        224
      ],
      "id": "8a6812d7-6c1b-46d1-b6d8-30688acf1b07",
      "name": "Execute Workflow",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        592,
        432
      ],
      "id": "a883d91e-ce62-4ef5-84e2-ffe03330de59",
      "name": "Merge2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "34d59d76-2643-4778-a6e4-3e7044679954",
              "name": "deals_context",
              "value": "={{ $json.data[1].deals_context }}",
              "type": "array"
            },
            {
              "id": "6eed93e2-881b-4045-9777-92cbb9b1d868",
              "name": "project context",
              "value": "={{ $json.data[2]['project context'] }}",
              "type": "array"
            },
            {
              "id": "943332b4-16ef-4613-9132-1edd677739b6",
              "name": "allowed_projects",
              "value": "={{ $json.data[0].project_id }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1808,
        432
      ],
      "id": "a7ad2ea8-ae91-434a-a38e-62470deff6c5",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "fieldToSplitOut": "deal_context",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -720,
        -1328
      ],
      "id": "89a63623-76e3-4da8-b778-73f6ac1681a4",
      "name": "Split Out deals"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "3996b73c-02e7-4301-802c-19dd36a93c1e",
              "leftValue": "={{ $json.count }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        112,
        -1328
      ],
      "id": "19949836-8495-421b-aa8e-3ae76fdb7ab2",
      "name": "Filter active files1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "56475499-0d01-44d0-954e-80904c8f9e5c",
              "name": "data",
              "value": "={{ $json.files }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        432,
        -1344
      ],
      "id": "2ed03317-a2f8-468f-a30d-303cfaea6073",
      "name": "capture active project files1"
    },
    {
      "parameters": {
        "jsCode": "function extractFiles(node) {\n  let results = [];\n\n  if (Array.isArray(node)) {\n    node.forEach(item => {\n      results = results.concat(extractFiles(item));\n    });\n  } else if (node && typeof node === \"object\") {\n    // If it is a file object → return it\n    if (node.file_id && node.file_path) {\n      results.push(node);\n      return results;\n    }\n\n    // Otherwise, keep scanning its children\n    Object.values(node).forEach(value => {\n      results = results.concat(extractFiles(value));\n    });\n  }\n\n  return results;\n}\n\nlet allFiles = [];\n\nitems.forEach(item => {\n  const data = item.json;\n  allFiles = allFiles.concat(extractFiles(data));\n});\n\nreturn allFiles.map(f => ({ json: f }));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        688,
        -1344
      ],
      "id": "c7d280c2-35aa-477b-b403-971dcccccc95",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "vksyZ13z47QY8vH5",
          "mode": "list",
          "cachedResultUrl": "/workflow/vksyZ13z47QY8vH5",
          "cachedResultName": "RBAC Internal Chatbot - STM as Cache - RAG Workflow for file upload"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        976,
        -1344
      ],
      "id": "5e72dc55-0fb4-47cf-aea9-fabe2e677394",
      "name": "Execute Workflow1",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('When chat message received').item.json.chatInput }}",
        "options": {
          "systemMessage": "=You are the ROUTER AGENT for a multi-agent partner assistant system for DIY-Prefab.\n\nYour ONLY responsibility is to:\n1. Understand the user's intent and scope\n2. Decide which specialist agent must handle the request\n3. Answer based on the specialist agent's reply\n\nDo not answer user questions that are unrelated to project management, deal management such as food, movies, etc.\n\nUsers can know about customers and employee details. \n\n\nYou ONLY classify and route and get response from the specialist agents.\n\n---\nThe time is {{ $now }}\n\nShow dates and time in Indian format ONLY [dd/mm/yyyy]\n---\n\n## USER ROLE CONTEXT\n{{ JSON.stringify($json.messages[1].system) }}\n\n- You are going to deal with either partner or customer user roles\n\n- Partner can know about their deal commissions but customers cannot.\n- Partner has the priviledge to know about their customers.\n\n---\n\n\n## AVAILABLE SPECIALIST AGENTS\n\nYou may route to ONLY ONE of the following:\n\n### 1. deal_agent\nUse when the question is about:\n- Deal status, pricing, margin, commission, number of deals\n- Deal stages, timelines, commercial terms\n- Partner/customer deal visibility\n- Any permission-sensitive business information about deals.\n- Any information that requires deal context about partner/customer\n- Information about employees, contact details, etc. \n- Customer email, contact details, etc. \n\n### 2. file_agent\nUse when the question is about:\n- PDFs, drawings, Excel, QRFs, uploaded files within user deal\n- “Check the document”, “what does the file say”, \"How is building parameters mentioned in my deal?\", \"Values within my file in my deal\"\n- Comparing, summarizing, or extracting file content\n\n### 3. engineering_agent\nUse when the question is about:\n- Civil / structural engineering concepts\n- Materials, design principles, calculations\n- Civil engineering questions, general questions about architecture and buildings\n- Construction methods, standards, manuals\n- Questions that do NOT depend on project, deal, or file access\n[IMPORTANT] - return the content as provided by engineering agent without manipulating it. It is important to not ruin its answer structure and image URLs\n\nYou must follow these rules for EVERY request.\n\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        4256,
        -976
      ],
      "id": "96b2f720-7a03-4d3e-8d51-7d59560408b7",
      "name": "Router Agent",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "description": "This tool is useful to deal with deal related questions",
        "workflowId": {
          "__rl": true,
          "value": "o0GItdogMrZVV8ZX",
          "mode": "list",
          "cachedResultUrl": "/workflow/o0GItdogMrZVV8ZX",
          "cachedResultName": "RBAC Internal Chatbot - STM as Cache - Deal Agent"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "deal_context": "={{ $json.messages[0].system }}",
            "user_context": "={{ $json.messages[1].system }}",
            "query": "={{ $('When chat message received').item.json.chatInput }}",
            "allowedProjects": "={{ $json.messages[2].system }}",
            "session_id": "={{ $('When chat message received').item.json.sessionId }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "query",
              "displayName": "query",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "intent",
              "displayName": "intent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "deal_context",
              "displayName": "deal_context",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "user_context",
              "displayName": "user_context",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "allowedProjects",
              "displayName": "allowedProjects",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "session_id",
              "displayName": "session_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        4624,
        -672
      ],
      "id": "803c885a-7620-458f-a481-31dfc9fa70bd",
      "name": "deal agent"
    },
    {
      "parameters": {
        "description": "Call this tool to help user answer questions about their deal files. ",
        "workflowId": {
          "__rl": true,
          "value": "5OGnfePKAIHRlekw",
          "mode": "list",
          "cachedResultUrl": "/workflow/5OGnfePKAIHRlekw",
          "cachedResultName": "RBAC Internal Chatbot - STM as Cache - Files Agent"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "user_context": "={{ $json.messages[1].system }}",
            "deal_context": "={{ $json.messages[0].system }}",
            "Query": "={{ $('When chat message received').item.json.chatInput }}",
            "key_words": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('key_words', `Multiple Key words to help the LLM find the right file content for the user`, 'string') }}",
            "allowedProjects": "={{ $json.messages[2].system }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Query",
              "displayName": "Query",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "user_context",
              "displayName": "user_context",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "deal_context",
              "displayName": "deal_context",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "key_words",
              "displayName": "key_words",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "allowedProjects",
              "displayName": "allowedProjects",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        4480,
        -672
      ],
      "id": "f6aaa87d-cfa4-4074-b1a9-0eb49cae77c1",
      "name": "file agent"
    },
    {
      "parameters": {
        "description": "Call this tool to answer engineering based questions for the user. ",
        "workflowId": {
          "__rl": true,
          "value": "WnGULlF5ZVyKKpfl",
          "mode": "list",
          "cachedResultUrl": "/workflow/WnGULlF5ZVyKKpfl",
          "cachedResultName": "RBAC Internal Chatbot - STM as Cache - Engineering Agent"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "question": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('question', `The engineering question asked by the user`, 'string') }}"
          },
          "matchingColumns": [
            "question"
          ],
          "schema": [
            {
              "id": "question",
              "displayName": "question",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        4304,
        -672
      ],
      "id": "0b9629d2-f8be-4c2f-a3b5-40a89c6d9a37",
      "name": "engineering agent"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "project_id"
            },
            {
              "fieldToAggregate": "deal_id"
            },
            {
              "fieldToAggregate": "deal_name"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -752,
        -1056
      ],
      "id": "51a62bb2-b36c-4a47-a1b1-7ee62d6551f7",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "Allowed Project Context",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -160,
        -1056
      ],
      "id": "98c87b69-221c-472f-be36-c88e5ff80f84",
      "name": "Aggregate3"
    },
    {
      "parameters": {
        "description": "Use this tool to answer project/deal based questions for the user.",
        "workflowId": {
          "__rl": true,
          "value": "4QqJUX55ExP6Pk3A",
          "mode": "list",
          "cachedResultUrl": "/workflow/4QqJUX55ExP6Pk3A",
          "cachedResultName": "RBAC Internal Chatbot - STM as Cache - Project Agent"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "userContext": "={{ $json.messages[0].system }}",
            "projectContext": "={{ $json.messages[1].system }}",
            "dealContext": "={{ $json.messages[2].system }}",
            "question": "={{ $('When chat message received').item.json.chatInput }}",
            "intent": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('intent', `Intent of the user. What does the user wants to know. `, 'string') }}",
            "session_id": "={{ $('When chat message received').item.json.sessionId }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "question",
              "displayName": "question",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "intent",
              "displayName": "intent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "projectContext",
              "displayName": "projectContext",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "dealContext",
              "displayName": "dealContext",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "userContext",
              "displayName": "userContext",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "session_id",
              "displayName": "session_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        4976,
        768
      ],
      "id": "1f53ac5f-1784-46cd-897f-72493f9ba9fb",
      "name": "project agent"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1264,
        208
      ],
      "id": "b5436b6d-fbdf-45eb-b595-37c0b7736ea6",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1216,
        -1360
      ],
      "id": "e926252f-2cde-4322-a2f0-e52095cf9656",
      "name": "No Operation, do nothing1"
    },
    {
      "parameters": {
        "description": "Call this tool to answer engineering based questions for the user. ",
        "workflowId": {
          "__rl": true,
          "value": "WnGULlF5ZVyKKpfl",
          "mode": "list",
          "cachedResultUrl": "/workflow/WnGULlF5ZVyKKpfl",
          "cachedResultName": "RBAC Internal Chatbot - STM as Cache - Engineering Agent"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "question": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('question', `The engineering question asked by the user`, 'string') }}"
          },
          "matchingColumns": [
            "question"
          ],
          "schema": [
            {
              "id": "question",
              "displayName": "question",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        4800,
        768
      ],
      "id": "d9aa5517-3a45-4b9c-9e4d-b7effcc4bad6",
      "name": "engineering agent1"
    },
    {
      "parameters": {
        "description": "Use this tool to answer questions about uploaded files and QRF. ",
        "workflowId": {
          "__rl": true,
          "value": "6WKz43j2i0UMBFjm",
          "mode": "list",
          "cachedResultUrl": "/workflow/6WKz43j2i0UMBFjm",
          "cachedResultName": "RBAC Internal Chatbot - STM as Cache - PP Files Agent"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "Query": "={{ $('When chat message received').item.json.chatInput }}",
            "user_context": "={{ $json.messages[0].system }}",
            "allowed_projects": "={{ $json.messages[3].system }}",
            "deal_context": "={{ $json.messages[2].system }}",
            "project_context": "={{ $json.messages[1].system }}",
            "session_id": "={{ $('When chat message received').item.json.sessionId }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Query",
              "displayName": "Query",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "deal_context",
              "displayName": "deal_context",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "project_context",
              "displayName": "project_context",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "user_context",
              "displayName": "user_context",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "allowed_projects",
              "displayName": "allowed_projects",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "session_id",
              "displayName": "session_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        5168,
        768
      ],
      "id": "5585d030-4a88-40aa-b072-73078491b756",
      "name": "file agent1"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "project_id"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -32,
        48
      ],
      "id": "334413b7-9132-4c0f-8740-780a5e78c121",
      "name": "Aggregate4"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1072,
        416
      ],
      "id": "7c029305-2cc7-42ef-aa17-2f8542c55d18",
      "name": "Merge"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1280,
        416
      ],
      "id": "2a337396-da21-4c90-a5d9-815f3061cca7",
      "name": "Aggregate2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5df282e5-2089-4ed7-8ab1-ad5a867028e2",
              "name": "output",
              "value": "Something went wrong while processing your request. Please try again, or contact us at info@diyprefab.com if the issue continues.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        5024,
        -752
      ],
      "id": "037320b7-fcc2-43bf-ae54-40688ad997c3",
      "name": "Fallback1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5df282e5-2089-4ed7-8ab1-ad5a867028e2",
              "name": "output",
              "value": "Something went wrong while processing your request. Please try again, or contact us at info@diyprefab.com if the issue continues.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        5504,
        608
      ],
      "id": "297ed1dd-0399-4732-b17c-de455dce5400",
      "name": "Fallback"
    },
    {
      "parameters": {
        "mode": "insert",
        "messages": {
          "messageValues": [
            {
              "type": "user",
              "message": "={{ $('When chat message received').item.json.chatInput }}",
              "hideFromUI": true
            },
            {
              "type": "ai",
              "message": "={{ $('Router Agent').item.json.output }}",
              "hideFromUI": true
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.memoryManager",
      "typeVersion": 1.1,
      "position": [
        5760,
        -1056
      ],
      "id": "eaeabb31-6e69-45cc-ace4-45580027ffb3",
      "name": "insert ai and user chat"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('When chat message received').item.json.sessionId }}",
        "contextWindowLength": 4
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        5760,
        -848
      ],
      "id": "d638be40-0732-4925-88fd-9ff839581d0e",
      "name": "Simple Memory10"
    },
    {
      "parameters": {
        "mode": "insert",
        "messages": {
          "messageValues": [
            {
              "type": "user",
              "message": "={{ $('When chat message received').item.json.chatInput }}",
              "hideFromUI": true
            },
            {
              "type": "ai",
              "message": "={{ $json.output }}",
              "hideFromUI": true
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.memoryManager",
      "typeVersion": 1.1,
      "position": [
        6096,
        416
      ],
      "id": "a2db0105-1e0f-485f-a41d-742bea01ad37",
      "name": "insert ai and user chat1"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('When chat message received').item.json.sessionId }}",
        "contextWindowLength": 4
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        6096,
        640
      ],
      "id": "aea54825-a2fc-4e6f-9db3-b8476919fafa",
      "name": "Simple Memory11"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://backend.diyprefab.com/api/v1/webhook-chat-transcript",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "sessionID",
              "value": "={{ $('When chat message received').item.json.sessionId }}"
            },
            {
              "name": "UserID",
              "value": "={{ $('When chat message received').item.json.metadata.userDetails.userId }}"
            },
            {
              "name": "message",
              "value": "={{ $json.chatInput }}"
            },
            {
              "name": "sender",
              "value": "user"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -3824,
        -368
      ],
      "id": "9da75b59-8b21-4bdd-83fd-ec879f272791",
      "name": "HTTP Request4",
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "ce435e06-9dda-411c-9322-7323bb6b0d01",
              "leftValue": "=partner",
              "rightValue": "={{ $('When chat message received').item.json.metadata.userDetails.account_type }}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "ed7f7b86-a284-4c55-9860-6e653de0e666",
              "leftValue": "customer",
              "rightValue": "={{ $('When chat message received').item.json.metadata.userDetails.account_type }}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -3328,
        -368
      ],
      "id": "d0d6fe42-379e-4548-912e-529e73ab4de8",
      "name": "Account type check"
    },
    {
      "parameters": {
        "mode": "delete",
        "deleteMode": "all"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryManager",
      "typeVersion": 1.1,
      "position": [
        -3840,
        48
      ],
      "id": "cb4934f2-a5fc-4d30-8470-0977b1168991",
      "name": "Chat Memory Manager2"
    },
    {
      "parameters": {
        "contextWindowLength": 30
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -3824,
        304
      ],
      "id": "fc1c3b55-a60e-4520-a914-c4b49e7b189e",
      "name": "Session memory1"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('When chat message received').item.json.sessionId }}",
        "tableName": "internal_chatbot_v3_histories",
        "contextWindowLength": 20
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        4576,
        768
      ],
      "id": "05aa409b-deaf-4cb1-990c-8b58a8b5e15b",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "xS735LtobgpsJOiJ",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('When chat message received').item.json.sessionId }}",
        "tableName": "internal_chatbot_v3_histories",
        "contextWindowLength": 20
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        4064,
        -688
      ],
      "id": "b6160dc6-95da-4946-8d08-1fdbf1a014a1",
      "name": "Postgres Chat Memory1",
      "credentials": {
        "postgres": {
          "id": "xS735LtobgpsJOiJ",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "tableName": "internal_chatbot_v3_histories",
        "contextWindowLength": 20
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        -4432,
        -208
      ],
      "id": "d4edffbe-b1f5-4311-a879-736bcc45a9c8",
      "name": "SessionMemory",
      "credentials": {
        "postgres": {
          "id": "xS735LtobgpsJOiJ",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        3872,
        -688
      ],
      "id": "1fb38d09-b5e4-4916-bba2-4bea18cad00b",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "Q5lzt9WCiVSyty80",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        4224,
        768
      ],
      "id": "1726b133-7b40-445e-83e7-382b7c7872a3",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "Q5lzt9WCiVSyty80",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "url": "https://backend.diyprefab.com/api/v1/project/get-projects",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {}
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiI2OTI3MjlkODFlMjZiYzc0ZmU1MWQwZWUiLCJlbWFpbCI6InB1c2hwZW5kdWphbmEwMDhAZ21haWwuY29tIiwicm9sZSI6InN1cGVyYWRtaW4iLCJ1c2VyX3R5cGUiOiJwbGF0Zm9ybV9wcm92aWRlciIsInNlc3Npb25faWQiOiI5OWQyNzM5My1hODczLTRjZjItOTA2NC02YTRkY2ZhZDMyNmUiLCJleHAiOjE3Njg5NzU0Njd9.S5kKKo9pU0DcyiksCZQItKQFHnq_0UjW_9PjcKQfCms"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2736,
        848
      ],
      "id": "cec58d15-28d2-4f11-9af1-19ad5fd157a1",
      "name": "HTTP Request1",
      "retryOnFail": true
    },
    {
      "parameters": {
        "url": "https://backend.diyprefab.com/api/v1/project/get-projects",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiI2OTI3MjlkODFlMjZiYzc0ZmU1MWQwZWUiLCJlbWFpbCI6InB1c2hwZW5kdWphbmEwMDhAZ21haWwuY29tIiwicm9sZSI6InN1cGVyYWRtaW4iLCJ1c2VyX3R5cGUiOiJwbGF0Zm9ybV9wcm92aWRlciIsInNlc3Npb25faWQiOiI5OWQyNzM5My1hODczLTRjZjItOTA2NC02YTRkY2ZhZDMyNmUiLCJleHAiOjE3Njg5NzU0Njd9.S5kKKo9pU0DcyiksCZQItKQFHnq_0UjW_9PjcKQfCms"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2976,
        848
      ],
      "id": "2aa73bbd-4e29-4a68-921c-5063078f511b",
      "name": "HTTP Request2",
      "retryOnFail": true
    },
    {
      "parameters": {
        "url": "https://backend.diyprefab.com/api/v1/deals/get-all-deals",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "limit",
              "value": "50"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiI2OTI3MjlkODFlMjZiYzc0ZmU1MWQwZWUiLCJlbWFpbCI6InB1c2hwZW5kdWphbmEwMDhAZ21haWwuY29tIiwicm9sZSI6InN1cGVyYWRtaW4iLCJ1c2VyX3R5cGUiOiJwbGF0Zm9ybV9wcm92aWRlciIsInNlc3Npb25faWQiOiI5OWQyNzM5My1hODczLTRjZjItOTA2NC02YTRkY2ZhZDMyNmUiLCJleHAiOjE3Njg5NzU0Njd9.S5kKKo9pU0DcyiksCZQItKQFHnq_0UjW_9PjcKQfCms"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2256,
        1056
      ],
      "id": "0cee87a4-24de-4214-9342-f78295506c3c",
      "name": "get all deals (only for platform provider)2",
      "executeOnce": true
    },
    {
      "parameters": {
        "message": "={{ $json.output }}",
        "waitUserReply": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chat",
      "typeVersion": 1,
      "position": [
        5792,
        416
      ],
      "id": "5a4b5d9f-71b9-4f66-bfe8-ff501b4d3f55",
      "name": "Respond to Chat",
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://backend.diyprefab.com/api/v1/webhook-chat-transcript",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "sessionID",
              "value": "={{ $('When chat message received').item.json.sessionId }}"
            },
            {
              "name": "UserID",
              "value": "={{ $('When chat message received').item.json.metadata.userDetails.userId }}"
            },
            {
              "name": "message",
              "value": "={{ $json.output }}"
            },
            {
              "name": "sender",
              "value": "ai"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        6464,
        -496
      ],
      "id": "c9e9e4a6-a3e7-4dee-a331-1d0536ffbc95",
      "name": "Chat Transcript",
      "alwaysOutputData": true,
      "retryOnFail": true,
      "executeOnce": true,
      "onError": "continueRegularOutput"
    }
  ],
  "pinData": {
    "get all deals (only for platform provider)": [
      {
        "json": {
          "success": true,
          "data": [
            {
              "deal_id": "68f720cf9a7b876459893fab",
              "deal_company_name": "Sivile Prefab Pvt Ltd",
              "deal_location": {
                "address": "plot no. 23, midc industrial area",
                "pincode": "411038",
                "state": "maharashtra",
                "city": "pune",
                "latitude": null,
                "longitude": null,
                "area": "Panvel"
              },
              "created_user_id": "68affbdd2a686bdb1e8c4d81",
              "created_user_name": "Partner Account",
              "company_id": "VVAOVZLZ0L",
              "customer_ids": [],
              "hubspot_deal_id": "194749245129",
              "pipeline_id": "default",
              "deal_stage_id": "1644151538",
              "deal_stage_label": "QRF Received",
              "status": "active",
              "probability": 0.05,
              "is_closed": false,
              "project_id": "PROJECT869639",
              "deal_name": "Supply & Installation of Modular Prefab Units - Phase II",
              "deal_value": 540000,
              "currency": "INR",
              "deal_type": "unique",
              "notes": null,
              "tags": [],
              "created_at": "2025-10-21T05:57:35",
              "updated_at": "2025-10-21T05:57:36",
              "close_date": null,
              "last_updated_user_id": "68affbdd2a686bdb1e8c4d81",
              "last_updated_user_name": "Partner Account",
              "customers": []
            },
            {
              "deal_id": "68c40e61fe930154b6916ae3",
              "deal_company_name": "Bank of America",
              "deal_location": {
                "address": "chandara layour",
                "pincode": "560085",
                "state": "karnataka",
                "city": "bengaluru",
                "latitude": null,
                "longitude": null,
                "area": "Bsk"
              },
              "created_user_id": "68c40d4ae588bb02ae0cfd3e",
              "created_user_name": "Trudy Mendez",
              "company_id": "AMERINVU65",
              "customer_ids": [],
              "hubspot_deal_id": "159496149750",
              "pipeline_id": "default",
              "deal_stage_id": "1644151538",
              "deal_stage_label": "QRF Received",
              "status": "active",
              "probability": 0.05,
              "is_closed": false,
              "project_id": "PROJECT492796",
              "deal_name": "First Deal",
              "deal_value": 75999994,
              "currency": "INR",
              "deal_type": "unique",
              "notes": null,
              "tags": [],
              "created_at": "2025-09-12T12:13:21",
              "updated_at": "2025-09-12T12:13:23",
              "close_date": null,
              "last_updated_user_id": "68c40d4ae588bb02ae0cfd3e",
              "last_updated_user_name": "Trudy Mendez",
              "customers": []
            },
            {
              "deal_id": "68c2780ff8d71ed811d1ab46",
              "deal_company_name": "GreenLeaf Constructions",
              "deal_location": {
                "address": "plot no. 12, palm meadows",
                "pincode": "411014",
                "state": "maharashtra",
                "city": "pune",
                "latitude": null,
                "longitude": null,
                "area": "Viman Nagar"
              },
              "created_user_id": "68affadc5001425819c08d9c",
              "created_user_name": "Carlos Mendez",
              "company_id": "BYTEWFORGH",
              "customer_ids": [],
              "hubspot_deal_id": "158425264827",
              "pipeline_id": "default",
              "deal_stage_id": "1644151538",
              "deal_stage_label": "QRF Received",
              "status": "active",
              "probability": 0.05,
              "is_closed": false,
              "project_id": "PROJECT796559",
              "deal_name": "Luxury Villa Project",
              "deal_value": 45000000,
              "currency": "INR",
              "deal_type": "common",
              "notes": null,
              "tags": [],
              "created_at": "2025-09-11T07:19:43",
              "updated_at": "2025-09-11T07:19:43",
              "close_date": null,
              "last_updated_user_id": "68affadc5001425819c08d9c",
              "last_updated_user_name": "Carlos Mendez",
              "customers": []
            },
            {
              "deal_id": "68c272eff8d71ed811d1ab31",
              "deal_company_name": "GreenLeaf Constructions",
              "deal_location": {
                "address": "plot no. 12, palm meadows",
                "pincode": "411014",
                "state": "maharashtra",
                "city": "pune",
                "latitude": null,
                "longitude": null,
                "area": "Viman Nagar"
              },
              "created_user_id": "6888e0ac09fd4fdd5048d352",
              "created_user_name": "Pushpendu Jana",
              "company_id": "META2DKWGP",
              "customer_ids": [],
              "hubspot_deal_id": "158425264827",
              "pipeline_id": "default",
              "deal_stage_id": "1644151538",
              "deal_stage_label": "QRF Received",
              "status": "active",
              "probability": 0.05,
              "is_closed": false,
              "project_id": "PROJECT796559",
              "deal_name": "Luxury Villa Project",
              "deal_value": 78000000,
              "currency": "INR",
              "deal_type": "common",
              "notes": null,
              "tags": [],
              "created_at": "2025-09-11T06:57:51",
              "updated_at": "2025-09-11T06:57:53",
              "close_date": null,
              "last_updated_user_id": "6888e0ac09fd4fdd5048d352",
              "last_updated_user_name": "Pushpendu Jana",
              "customers": []
            },
            {
              "deal_id": "68c26050af7724fa0da87823",
              "deal_company_name": "MegaInfra Developers",
              "deal_location": {
                "address": "nh-48 expressway",
                "pincode": "400614",
                "state": "maharashtra",
                "city": "mumbai",
                "latitude": null,
                "longitude": null,
                "area": "Panvel"
              },
              "created_user_id": "68affbdd2a686bdb1e8c4d81",
              "created_user_name": "Partner Account",
              "company_id": "VVAOVZLZ0L",
              "customer_ids": [],
              "hubspot_deal_id": "158338163433",
              "pipeline_id": "default",
              "deal_stage_id": "1644151538",
              "deal_stage_label": "QRF Received",
              "status": "active",
              "probability": 0.05,
              "is_closed": false,
              "project_id": "PROJECT651088",
              "deal_name": "Highway Bridge Project",
              "deal_value": 852222,
              "currency": "INR",
              "deal_type": "unique",
              "notes": null,
              "tags": [],
              "created_at": "2025-09-11T05:38:24",
              "updated_at": "2025-09-11T05:38:26",
              "close_date": null,
              "last_updated_user_id": "68affbdd2a686bdb1e8c4d81",
              "last_updated_user_name": "Partner Account",
              "customers": []
            },
            {
              "deal_id": "68c03d7e0279e1bc7eb121fb",
              "deal_company_name": "Skyline Constructions Pvt Ltd",
              "deal_location": {
                "address": "patharpratima",
                "pincode": "743371",
                "state": "west bengal",
                "city": "kolkata",
                "latitude": null,
                "longitude": null,
                "area": "Kalyani"
              },
              "created_user_id": "6888e0ac09fd4fdd5048d352",
              "created_user_name": "Pushpendu Jana",
              "company_id": "META2DKWGP",
              "customer_ids": [],
              "hubspot_deal_id": "157911033560",
              "pipeline_id": "default",
              "deal_stage_id": "1644151538",
              "deal_stage_label": "QRF Received",
              "status": "active",
              "probability": 0.05,
              "is_closed": false,
              "project_id": "PROJECT408827",
              "deal_name": "Warehouse Building ",
              "deal_value": 44998,
              "currency": "INR",
              "deal_type": "unique",
              "notes": null,
              "tags": [],
              "created_at": "2025-09-09T14:45:18",
              "updated_at": "2025-09-09T14:45:20",
              "close_date": null,
              "last_updated_user_id": "6888e0ac09fd4fdd5048d352",
              "last_updated_user_name": "Pushpendu Jana",
              "customers": []
            },
            {
              "deal_id": "68c03c050279e1bc7eb121ed",
              "deal_company_name": "ABC PVT LTD",
              "deal_location": {
                "address": "plot 86, green road",
                "pincode": "500086",
                "state": "karnataka",
                "city": "bengaluru",
                "latitude": null,
                "longitude": null,
                "area": ""
              },
              "created_user_id": "6888e0ac09fd4fdd5048d352",
              "created_user_name": "Pushpendu Jana",
              "company_id": "META2DKWGP",
              "customer_ids": [],
              "hubspot_deal_id": "157889611507",
              "pipeline_id": "default",
              "deal_stage_id": "1644151538",
              "deal_stage_label": "QRF Received",
              "status": "active",
              "probability": 0.05,
              "is_closed": false,
              "project_id": "PROJECT849075",
              "deal_name": " Facility Construction",
              "deal_value": 78000,
              "currency": "INR",
              "deal_type": "unique",
              "notes": null,
              "tags": [],
              "created_at": "2025-09-09T14:39:01",
              "updated_at": "2025-09-09T14:39:03",
              "close_date": null,
              "last_updated_user_id": "6888e0ac09fd4fdd5048d352",
              "last_updated_user_name": "Pushpendu Jana",
              "customers": []
            },
            {
              "deal_id": "68bfe664ad70c86c7bcaf906",
              "deal_company_name": "Apple  Ventures",
              "deal_location": {
                "address": "123 main street, downtown",
                "pincode": "560001",
                "state": "karnataka",
                "city": "hubli",
                "latitude": 12.9716,
                "longitude": 77.5946,
                "area": "MG Road"
              },
              "created_user_id": "68affadc5001425819c08d9c",
              "created_user_name": "Carlos Mendez",
              "company_id": "BYTEWFORGH",
              "customer_ids": [],
              "hubspot_deal_id": "157760324299",
              "pipeline_id": "default",
              "deal_stage_id": "1644151538",
              "deal_stage_label": "QRF Received",
              "status": "active",
              "probability": 0.05,
              "is_closed": false,
              "project_id": "PROJECT828640",
              "deal_name": "Apple Ventures",
              "deal_value": 100000,
              "currency": "INR",
              "deal_type": "unique",
              "notes": null,
              "tags": [],
              "created_at": "2025-09-09T08:33:40",
              "updated_at": "2025-09-09T08:33:42",
              "close_date": null,
              "last_updated_user_id": "68affadc5001425819c08d9c",
              "last_updated_user_name": "Carlos Mendez",
              "customers": []
            },
            {
              "deal_id": "68bb0cf7f1d107e664d7df50",
              "deal_company_name": "Apple Constructions",
              "deal_location": {
                "address": "123 main street, downtown",
                "pincode": "560001",
                "state": "tamil nadu",
                "city": "chennai",
                "latitude": 12.9716,
                "longitude": 77.5946,
                "area": "MG Road"
              },
              "created_user_id": "68affadc5001425819c08d9c",
              "created_user_name": "Carlos Mendez",
              "company_id": "BYTEWFORGH",
              "customer_ids": [],
              "hubspot_deal_id": "156576607988",
              "pipeline_id": "default",
              "deal_stage_id": "1644151538",
              "deal_stage_label": "QRF Received",
              "status": "active",
              "probability": 0.05,
              "is_closed": false,
              "project_id": "PROJECT510961",
              "deal_name": "Apple Heights Renovation",
              "deal_value": 100000,
              "currency": "INR",
              "deal_type": "unique",
              "notes": null,
              "tags": [],
              "created_at": "2025-09-05T16:16:55",
              "updated_at": "2025-09-05T16:16:57",
              "close_date": null,
              "last_updated_user_id": "68affadc5001425819c08d9c",
              "last_updated_user_name": "Carlos Mendez",
              "customers": []
            },
            {
              "deal_id": "68ba96aee7b542802b48bcc3",
              "deal_company_name": "Vishakha Polyfab Pvt. Ltd.",
              "deal_location": {
                "address": "plot 27, gidc industrial area, abu road",
                "pincode": "307026",
                "state": "rajasthan",
                "city": "abu road",
                "latitude": null,
                "longitude": null,
                "area": "GIDC Phase-III"
              },
              "created_user_id": "68affbdd2a686bdb1e8c4d81",
              "created_user_name": "Partner Account",
              "company_id": "VVAOVZLZ0L",
              "customer_ids": [],
              "hubspot_deal_id": "156415685309",
              "pipeline_id": "default",
              "deal_stage_id": "1644151538",
              "deal_stage_label": "QRF Received",
              "status": "active",
              "probability": 0.05,
              "is_closed": false,
              "project_id": "PROJECT386885",
              "deal_name": "PEB Factory Shed",
              "deal_value": 78259,
              "currency": "INR",
              "deal_type": "unique",
              "notes": null,
              "tags": [],
              "created_at": "2025-09-05T07:52:14",
              "updated_at": "2025-09-05T07:52:16",
              "close_date": null,
              "last_updated_user_id": "68affbdd2a686bdb1e8c4d81",
              "last_updated_user_name": "Partner Account",
              "customers": []
            },
            {
              "deal_id": "68b99876e7b542802b48bcad",
              "deal_company_name": "Skyline Pvt Ltd",
              "deal_location": {
                "address": "plot no. 78, green road",
                "pincode": "478656",
                "state": "karnataka",
                "city": "bengaluru",
                "latitude": null,
                "longitude": null,
                "area": "Madhapur"
              },
              "created_user_id": "6888e0ac09fd4fdd5048d352",
              "created_user_name": "Pushpendu Jana",
              "company_id": "META2DKWGP",
              "customer_ids": [],
              "hubspot_deal_id": "155957192406",
              "pipeline_id": "default",
              "deal_stage_id": "1644151538",
              "deal_stage_label": "QRF Received",
              "status": "active",
              "probability": 0.05,
              "is_closed": false,
              "project_id": "PROJECT926068",
              "deal_name": "Warehouse Building Construction",
              "deal_value": 45000,
              "currency": "INR",
              "deal_type": "unique",
              "notes": null,
              "tags": [],
              "created_at": "2025-09-04T13:47:34",
              "updated_at": "2025-09-04T13:47:37",
              "close_date": null,
              "last_updated_user_id": "6888e0ac09fd4fdd5048d352",
              "last_updated_user_name": "Pushpendu Jana",
              "customers": []
            },
            {
              "deal_id": "68b9637c9bb3424989bed900",
              "deal_company_name": "Skyline Constructions Pvt Ltd",
              "deal_location": {
                "address": "plot no. 45, green valley road",
                "pincode": "500081",
                "state": "telangana",
                "city": "hyderabad",
                "latitude": null,
                "longitude": null,
                "area": "Madhapur"
              },
              "created_user_id": "6888e0ac09fd4fdd5048d352",
              "created_user_name": "Pushpendu Jana",
              "company_id": "META2DKWGP",
              "customer_ids": [],
              "hubspot_deal_id": "155736765176",
              "pipeline_id": "default",
              "deal_stage_id": "1644151538",
              "deal_stage_label": "QRF Received",
              "status": "active",
              "probability": 0.05,
              "is_closed": false,
              "project_id": "PROJECT573281",
              "deal_name": "Residential Apartment Project",
              "deal_value": 70000,
              "currency": "INR",
              "deal_type": "unique",
              "notes": null,
              "tags": [],
              "created_at": "2025-09-04T10:01:32",
              "updated_at": "2025-09-04T10:01:34",
              "close_date": null,
              "last_updated_user_id": "6888e0ac09fd4fdd5048d352",
              "last_updated_user_name": "Pushpendu Jana",
              "customers": []
            },
            {
              "deal_id": "68b82be9c15e28733cc8167d",
              "deal_company_name": "Skyline",
              "deal_location": {
                "address": "bangalore",
                "pincode": "741835",
                "state": "karnataka",
                "city": "bangalore",
                "latitude": null,
                "longitude": null,
                "area": ""
              },
              "created_user_id": "68b82b6bc15e28733cc8167a",
              "created_user_name": "Pushpendu Jana",
              "company_id": "HELLOUXFEK",
              "customer_ids": [],
              "hubspot_deal_id": "154205693672",
              "pipeline_id": "default",
              "deal_stage_id": "1644151538",
              "deal_stage_label": "QRF Received",
              "status": "active",
              "probability": 0.05,
              "is_closed": false,
              "project_id": "PROJECT340107",
              "deal_name": "Residential Tower Contract",
              "deal_value": 400000,
              "currency": "INR",
              "deal_type": "unique",
              "notes": null,
              "tags": [],
              "created_at": "2025-09-03T11:52:09",
              "updated_at": "2025-09-03T11:52:10",
              "close_date": null,
              "last_updated_user_id": "68b82b6bc15e28733cc8167a",
              "last_updated_user_name": "Pushpendu Jana",
              "customers": []
            },
            {
              "deal_id": "68b5beb36cf2a98491b59ff0",
              "deal_company_name": "Skyline Builders",
              "deal_location": {
                "address": "kalyani",
                "pincode": "741235",
                "state": "west bengal",
                "city": "kolkata",
                "latitude": null,
                "longitude": null,
                "area": ""
              },
              "created_user_id": "68b406b12aa63f6430a76ee5",
              "created_user_name": "Carlos Mendez",
              "company_id": "BYTEID3AVC",
              "customer_ids": [],
              "hubspot_deal_id": "152216938197",
              "pipeline_id": "default",
              "deal_stage_id": "1644151538",
              "deal_stage_label": "QRF Received",
              "status": "active",
              "probability": 0.05,
              "is_closed": false,
              "project_id": "PROJECT172859",
              "deal_name": "Residential Tower Contract",
              "deal_value": 3000000,
              "currency": "INR",
              "deal_type": "common",
              "notes": "hello",
              "tags": [],
              "created_at": "2025-09-01T15:41:39",
              "updated_at": "2025-09-02T10:39:08",
              "close_date": null,
              "last_updated_user_id": "6889c66e9d908cba35628418",
              "last_updated_user_name": "Super Jana",
              "customers": []
            },
            {
              "deal_id": "68b5be106cf2a98491b59fe7",
              "deal_company_name": "Skyline Builders",
              "deal_location": {
                "address": "kalyani",
                "pincode": "741235",
                "state": "west bengal",
                "city": "kolkata",
                "latitude": null,
                "longitude": null,
                "area": ""
              },
              "created_user_id": "68affbdd2a686bdb1e8c4d81",
              "created_user_name": "Partner Account",
              "company_id": "VVAOVZLZ0L",
              "customer_ids": [],
              "hubspot_deal_id": "152216938197",
              "pipeline_id": "default",
              "deal_stage_id": "1644151538",
              "deal_stage_label": "QRF Received",
              "status": "active",
              "probability": 0.05,
              "is_closed": false,
              "project_id": "PROJECT172859",
              "deal_name": "Residential Tower Contract",
              "deal_value": 2000000,
              "currency": "INR",
              "deal_type": "common",
              "notes": null,
              "tags": [],
              "created_at": "2025-09-01T15:38:56",
              "updated_at": "2025-09-01T15:38:57",
              "close_date": null,
              "last_updated_user_id": "68affbdd2a686bdb1e8c4d81",
              "last_updated_user_name": "Partner Account",
              "customers": []
            },
            {
              "deal_id": "68b44a826683cf71263fe377",
              "deal_company_name": "My customer",
              "deal_location": {
                "address": "bangalore",
                "pincode": "478956",
                "state": "karnataka",
                "city": "bangalore",
                "latitude": null,
                "longitude": null,
                "area": "BM2"
              },
              "created_user_id": "6889c66e9d908cba35628418",
              "created_user_name": "Super Jana",
              "company_id": "DIYVAAX7T5",
              "customer_ids": [],
              "hubspot_deal_id": "150465668798",
              "pipeline_id": "default",
              "deal_stage_id": "1644151538",
              "deal_stage_label": "QRF Received",
              "status": "active",
              "probability": 0.05,
              "is_closed": false,
              "project_id": "PROJECT802303",
              "deal_name": "Deal for Super Account",
              "deal_value": 45220,
              "currency": "INR",
              "deal_type": "common",
              "notes": null,
              "tags": [],
              "created_at": "2025-08-31T13:13:38",
              "updated_at": "2025-08-31T13:13:40",
              "close_date": null,
              "last_updated_user_id": "6889c66e9d908cba35628418",
              "last_updated_user_name": "Super Jana",
              "customers": []
            },
            {
              "deal_id": "68b446c66683cf71263fe36b",
              "deal_company_name": "Pushpendu Jana",
              "deal_location": {
                "address": "kalyani, nadia",
                "pincode": "741235",
                "state": "west bengal",
                "city": "kolkata",
                "latitude": null,
                "longitude": null,
                "area": "Kalyani"
              },
              "created_user_id": "68affbdd2a686bdb1e8c4d81",
              "created_user_name": "Partner Account",
              "company_id": "VVAOVZLZ0L",
              "customer_ids": [],
              "hubspot_deal_id": "150012673754",
              "pipeline_id": "default",
              "deal_stage_id": "1644151538",
              "deal_stage_label": "QRF Received",
              "status": "active",
              "probability": 0.05,
              "is_closed": false,
              "project_id": "PROJECT673640",
              "deal_name": "Build Construction ",
              "deal_value": 5000000,
              "currency": "INR",
              "deal_type": "unique",
              "notes": null,
              "tags": [],
              "created_at": "2025-08-31T12:57:42",
              "updated_at": "2025-08-31T12:57:44",
              "close_date": null,
              "last_updated_user_id": "68affbdd2a686bdb1e8c4d81",
              "last_updated_user_name": "Partner Account",
              "customers": []
            }
          ],
          "commons": [
            {
              "project_id": "PROJECT796559",
              "no_of_commons": 3
            },
            {
              "project_id": "PROJECT172859",
              "no_of_commons": 3
            },
            {
              "project_id": "PROJECT802303",
              "no_of_commons": 2
            }
          ]
        }
      }
    ],
    "Get All Projects (only for platform provider)": [
      {
        "json": {
          "success": true,
          "message": "Projects with status 'draft' fetched successfully.",
          "data": [
            {
              "created_at": "2025-10-21T11:27:36",
              "updated_at": "2025-10-21T11:27:36",
              "created_by": null,
              "updated_by": null,
              "project_id": "PROJECT869639",
              "project_name": "Supply & Installation of Modular Prefab Units - Phase II",
              "client_company_name": "Sivile Prefab Pvt Ltd",
              "partner_id": "68affbdd2a686bdb1e8c4d81",
              "partner_name": "Partner Account",
              "location": {
                "address": "plot no. 23, midc industrial area",
                "pincode": "411038",
                "state": "maharashtra",
                "city": "pune",
                "latitude": null,
                "longitude": null,
                "area": "Panvel"
              },
              "phone_number": null,
              "email": null,
              "status": "draft",
              "deadline": null,
              "project_manager_id": null,
              "description": null,
              "deal_id": [
                "68f720cf9a7b876459893fab"
              ],
              "estimated_budget": null,
              "actual_cost": null,
              "priority": 1,
              "tags": [],
              "completion_percentage": 0
            },
            {
              "created_at": "2025-09-12T17:43:23",
              "updated_at": "2025-09-12T17:43:23",
              "created_by": null,
              "updated_by": null,
              "project_id": "PROJECT492796",
              "project_name": "First Deal",
              "client_company_name": "Bank of America",
              "partner_id": "68c40d4ae588bb02ae0cfd3e",
              "partner_name": "Trudy Mendez",
              "location": {
                "address": "chandara layour",
                "pincode": "560085",
                "state": "karnataka",
                "city": "bengaluru",
                "latitude": null,
                "longitude": null,
                "area": "Bsk"
              },
              "phone_number": null,
              "email": null,
              "status": "draft",
              "deadline": null,
              "project_manager_id": null,
              "description": null,
              "deal_id": [
                "68c40e61fe930154b6916ae3"
              ],
              "estimated_budget": null,
              "actual_cost": null,
              "priority": 1,
              "tags": [],
              "completion_percentage": 0
            },
            {
              "created_at": "2025-09-11T12:27:53",
              "updated_at": "2025-09-11T12:27:53",
              "created_by": null,
              "updated_by": null,
              "project_id": "PROJECT796559",
              "project_name": "Luxury Villa Project",
              "client_company_name": "GreenLeaf Constructions",
              "partner_id": "6888e0ac09fd4fdd5048d352",
              "partner_name": "Pushpendu Jana",
              "location": {
                "address": "plot no. 12, palm meadows",
                "pincode": "411014",
                "state": "maharashtra",
                "city": "pune",
                "latitude": null,
                "longitude": null,
                "area": "Viman Nagar"
              },
              "phone_number": null,
              "email": null,
              "status": "draft",
              "deadline": null,
              "project_manager_id": null,
              "description": null,
              "deal_id": [
                "68c272eff8d71ed811d1ab31",
                "68c2780ff8d71ed811d1ab46"
              ],
              "estimated_budget": null,
              "actual_cost": null,
              "priority": 1,
              "tags": [],
              "completion_percentage": 0
            },
            {
              "created_at": "2025-09-11T11:08:26",
              "updated_at": "2025-09-11T11:08:26",
              "created_by": null,
              "updated_by": null,
              "project_id": "PROJECT651088",
              "project_name": "Highway Bridge Project",
              "client_company_name": "MegaInfra Developers",
              "partner_id": "68affbdd2a686bdb1e8c4d81",
              "partner_name": "Partner Account",
              "location": {
                "address": "nh-48 expressway",
                "pincode": "400614",
                "state": "maharashtra",
                "city": "mumbai",
                "latitude": null,
                "longitude": null,
                "area": "Panvel"
              },
              "phone_number": null,
              "email": null,
              "status": "draft",
              "deadline": null,
              "project_manager_id": null,
              "description": null,
              "deal_id": [
                "68c26050af7724fa0da87823"
              ],
              "estimated_budget": null,
              "actual_cost": null,
              "priority": 1,
              "tags": [],
              "completion_percentage": 0
            },
            {
              "created_at": "2025-09-09T20:15:20",
              "updated_at": "2025-09-09T20:15:20",
              "created_by": null,
              "updated_by": null,
              "project_id": "PROJECT408827",
              "project_name": "Warehouse Building ",
              "client_company_name": "Skyline Constructions Pvt Ltd",
              "partner_id": "6888e0ac09fd4fdd5048d352",
              "partner_name": "Pushpendu Jana",
              "location": {
                "address": "patharpratima",
                "pincode": "743371",
                "state": "west bengal",
                "city": "kolkata",
                "latitude": null,
                "longitude": null,
                "area": "Kalyani"
              },
              "phone_number": null,
              "email": null,
              "status": "draft",
              "deadline": null,
              "project_manager_id": null,
              "description": null,
              "deal_id": [
                "68c03d7e0279e1bc7eb121fb"
              ],
              "estimated_budget": null,
              "actual_cost": null,
              "priority": 1,
              "tags": [],
              "completion_percentage": 0
            },
            {
              "created_at": "2025-09-09T20:09:03",
              "updated_at": "2025-09-09T20:09:03",
              "created_by": null,
              "updated_by": null,
              "project_id": "PROJECT849075",
              "project_name": " Facility Construction",
              "client_company_name": "ABC PVT LTD",
              "partner_id": "6888e0ac09fd4fdd5048d352",
              "partner_name": "Pushpendu Jana",
              "location": {
                "address": "plot 86, green road",
                "pincode": "500086",
                "state": "karnataka",
                "city": "bengaluru",
                "latitude": null,
                "longitude": null,
                "area": ""
              },
              "phone_number": null,
              "email": null,
              "status": "draft",
              "deadline": null,
              "project_manager_id": null,
              "description": null,
              "deal_id": [
                "68c03c050279e1bc7eb121ed"
              ],
              "estimated_budget": null,
              "actual_cost": null,
              "priority": 1,
              "tags": [],
              "completion_percentage": 0
            },
            {
              "created_at": "2025-09-09T14:03:42",
              "updated_at": "2025-09-09T14:03:42",
              "created_by": null,
              "updated_by": null,
              "project_id": "PROJECT828640",
              "project_name": "Apple Ventures",
              "client_company_name": "Apple  Ventures",
              "partner_id": "68affadc5001425819c08d9c",
              "partner_name": "Carlos Mendez",
              "location": {
                "address": "123 main street, downtown",
                "pincode": "560001",
                "state": "karnataka",
                "city": "hubli",
                "latitude": 12.9716,
                "longitude": 77.5946,
                "area": "MG Road"
              },
              "phone_number": null,
              "email": null,
              "status": "draft",
              "deadline": null,
              "project_manager_id": null,
              "description": null,
              "deal_id": [
                "68bfe664ad70c86c7bcaf906"
              ],
              "estimated_budget": null,
              "actual_cost": null,
              "priority": 1,
              "tags": [],
              "completion_percentage": 0
            },
            {
              "created_at": "2025-09-05T21:46:57",
              "updated_at": "2025-09-05T21:46:57",
              "created_by": null,
              "updated_by": null,
              "project_id": "PROJECT510961",
              "project_name": "Apple Heights Renovation",
              "client_company_name": "Apple Constructions",
              "partner_id": "68affadc5001425819c08d9c",
              "partner_name": "Carlos Mendez",
              "location": {
                "address": "123 main street, downtown",
                "pincode": "560001",
                "state": "tamil nadu",
                "city": "chennai",
                "latitude": 12.9716,
                "longitude": 77.5946,
                "area": "MG Road"
              },
              "phone_number": null,
              "email": null,
              "status": "draft",
              "deadline": null,
              "project_manager_id": null,
              "description": null,
              "deal_id": [
                "68bb0cf7f1d107e664d7df50"
              ],
              "estimated_budget": null,
              "actual_cost": null,
              "priority": 1,
              "tags": [],
              "completion_percentage": 0
            },
            {
              "created_at": "2025-09-05T13:22:16",
              "updated_at": "2025-09-05T13:22:16",
              "created_by": null,
              "updated_by": null,
              "project_id": "PROJECT386885",
              "project_name": "PEB Factory Shed",
              "client_company_name": "Vishakha Polyfab Pvt. Ltd.",
              "partner_id": "68affbdd2a686bdb1e8c4d81",
              "partner_name": "Partner Account",
              "location": {
                "address": "plot 27, gidc industrial area, abu road",
                "pincode": "307026",
                "state": "rajasthan",
                "city": "abu road",
                "latitude": null,
                "longitude": null,
                "area": "GIDC Phase-III"
              },
              "phone_number": null,
              "email": null,
              "status": "draft",
              "deadline": null,
              "project_manager_id": null,
              "description": null,
              "deal_id": [
                "68ba96aee7b542802b48bcc3"
              ],
              "estimated_budget": null,
              "actual_cost": null,
              "priority": 1,
              "tags": [],
              "completion_percentage": 0
            },
            {
              "created_at": "2025-09-04T19:17:37",
              "updated_at": "2025-09-04T19:17:37",
              "created_by": null,
              "updated_by": null,
              "project_id": "PROJECT926068",
              "project_name": "Warehouse Building Construction",
              "client_company_name": "Skyline Pvt Ltd",
              "partner_id": "6888e0ac09fd4fdd5048d352",
              "partner_name": "Pushpendu Jana",
              "location": {
                "address": "plot no. 78, green road",
                "pincode": "478656",
                "state": "karnataka",
                "city": "bengaluru",
                "latitude": null,
                "longitude": null,
                "area": "Madhapur"
              },
              "phone_number": null,
              "email": null,
              "status": "draft",
              "deadline": null,
              "project_manager_id": null,
              "description": null,
              "deal_id": [
                "68b99876e7b542802b48bcad"
              ],
              "estimated_budget": null,
              "actual_cost": null,
              "priority": 1,
              "tags": [],
              "completion_percentage": 0
            }
          ],
          "meta": {
            "current_page": 1,
            "total_pages": 2,
            "total_count": 15,
            "remaining_pages": 1,
            "has_next": true,
            "has_previous": false,
            "showing": 10,
            "limit": 10,
            "filters": {
              "status": "draft",
              "sort_by": "created_at",
              "sort_order": "desc",
              "user_access": "superadmin"
            }
          }
        }
      }
    ],
    "Get a specific project (agent tool) (only for platform provider)": [
      {
        "json": {
          "success": true,
          "message": "Project 'PROJECT340107' fetched successfully.",
          "data": {
            "created_at": "2025-09-03T17:22:10",
            "updated_at": "2025-09-03T17:22:10",
            "created_by": null,
            "updated_by": null,
            "project_id": "PROJECT340107",
            "project_name": "Residential Tower Contract",
            "client_company_name": "Skyline",
            "partner_id": "68b82b6bc15e28733cc8167a",
            "partner_name": "Pushpendu Jana",
            "location": {
              "address": "bangalore",
              "pincode": "741835",
              "state": "karnataka",
              "city": "bangalore",
              "latitude": null,
              "longitude": null,
              "area": ""
            },
            "phone_number": null,
            "email": null,
            "status": "draft",
            "deadline": null,
            "project_manager_id": null,
            "description": null,
            "deal_id": [
              "68b82be9c15e28733cc8167d"
            ],
            "estimated_budget": null,
            "actual_cost": null,
            "priority": 1,
            "tags": [],
            "completion_percentage": 0,
            "departments": [
              {
                "created_at": "2025-09-03T17:22:10",
                "updated_at": "2025-09-03T17:22:10",
                "created_by": null,
                "updated_by": null,
                "department_id": "DEPT475787",
                "project_id": "PROJECT340107",
                "dept_name": "Project Initialization",
                "dept_description": "Handles the kickoff of projects, defining objectives, scope, and timelines.",
                "company_id": "DIYVAAX7T5",
                "status": "active",
                "order": 1,
                "deadline": null,
                "started_at": null,
                "completed_at": null,
                "completion_percentage": 0,
                "is_completed": false,
                "is_blocked": false,
                "blocking_reason": null,
                "tags": [],
                "priority": 1,
                "depends_on": [],
                "notes": null,
                "custom_fields": {},
                "members": [
                  {
                    "created_at": "2025-09-03T17:25:08",
                    "updated_at": "2025-09-03T20:31:54",
                    "created_by": null,
                    "updated_by": null,
                    "member_id": "MEM6705372140",
                    "user_id": "68a735830ea5bace430d3086",
                    "project_id": "PROJECT340107",
                    "is_active": true,
                    "joined_at": "2025-09-03T17:25:08",
                    "left_at": null,
                    "department_access": [
                      {
                        "department_id": "DEPT475787",
                        "access_level": "user",
                        "can_manage_members": false,
                        "can_view_financials": false,
                        "can_edit_settings": false,
                        "can_upload_files": true,
                        "can_view_files": true,
                        "hourly_rate": null
                      }
                    ],
                    "stage_access": [
                      {
                        "stage_id": "STG5222200",
                        "can_approve_deliverables": false,
                        "can_modify_timeline": false,
                        "can_assign_tasks": false,
                        "can_upload_files": true,
                        "can_view_files": true
                      }
                    ],
                    "can_invite_members": false,
                    "can_edit_project": false,
                    "email_notifications": true,
                    "notification_preferences": {},
                    "default_hourly_rate": null,
                    "total_hours_logged": 0,
                    "notes": null,
                    "custom_title": null,
                    "invited_by": {
                      "id": "6889c66e9d908cba35628418",
                      "name": "Super Jana"
                    },
                    "invitation_accepted_at": null
                  },
                  {
                    "created_at": "2025-09-03T17:32:08",
                    "updated_at": "2025-09-03T20:31:53",
                    "created_by": null,
                    "updated_by": null,
                    "member_id": "MEM3664165058",
                    "user_id": "68a734c70ea5bace430d3085",
                    "project_id": "PROJECT340107",
                    "is_active": true,
                    "joined_at": "2025-09-03T17:32:08",
                    "left_at": null,
                    "department_access": [
                      {
                        "department_id": "DEPT475787",
                        "access_level": "user",
                        "can_manage_members": false,
                        "can_view_financials": false,
                        "can_edit_settings": false,
                        "can_upload_files": true,
                        "can_view_files": true,
                        "hourly_rate": null
                      }
                    ],
                    "stage_access": [
                      {
                        "stage_id": "STG5222200",
                        "can_approve_deliverables": false,
                        "can_modify_timeline": false,
                        "can_assign_tasks": false,
                        "can_upload_files": true,
                        "can_view_files": true
                      }
                    ],
                    "can_invite_members": false,
                    "can_edit_project": false,
                    "email_notifications": true,
                    "notification_preferences": {},
                    "default_hourly_rate": null,
                    "total_hours_logged": 0,
                    "notes": null,
                    "custom_title": null,
                    "invited_by": {
                      "id": "6889c66e9d908cba35628418",
                      "name": "Super Jana"
                    },
                    "invitation_accepted_at": null
                  },
                  {
                    "created_at": "2025-09-03T17:25:08",
                    "updated_at": "2025-09-03T19:59:22",
                    "created_by": null,
                    "updated_by": null,
                    "member_id": "MEM4227447395",
                    "user_id": "68a2e1cac492c966d80b89e2",
                    "project_id": "PROJECT340107",
                    "is_active": true,
                    "joined_at": "2025-09-03T17:25:08",
                    "left_at": null,
                    "department_access": [
                      {
                        "department_id": "DEPT475787",
                        "access_level": "admin",
                        "can_manage_members": false,
                        "can_view_financials": false,
                        "can_edit_settings": false,
                        "can_upload_files": true,
                        "can_view_files": true,
                        "hourly_rate": null
                      }
                    ],
                    "stage_access": [
                      {
                        "stage_id": "STG5222200",
                        "can_approve_deliverables": false,
                        "can_modify_timeline": false,
                        "can_assign_tasks": false,
                        "can_upload_files": true,
                        "can_view_files": true
                      }
                    ],
                    "can_invite_members": false,
                    "can_edit_project": false,
                    "email_notifications": true,
                    "notification_preferences": {},
                    "default_hourly_rate": null,
                    "total_hours_logged": 0,
                    "notes": null,
                    "custom_title": null,
                    "invited_by": {
                      "id": "6889c66e9d908cba35628418",
                      "name": "Super Jana"
                    },
                    "invitation_accepted_at": null
                  },
                  {
                    "created_at": "2025-09-03T17:33:33",
                    "updated_at": "2025-09-03T20:15:52",
                    "created_by": null,
                    "updated_by": null,
                    "member_id": "MEM3829146348",
                    "user_id": "68b40a2f3fca3ea79e5896a2",
                    "project_id": "PROJECT340107",
                    "is_active": true,
                    "joined_at": "2025-09-03T17:33:33",
                    "left_at": null,
                    "department_access": [
                      {
                        "department_id": "DEPT475787",
                        "access_level": "user",
                        "can_manage_members": false,
                        "can_view_financials": false,
                        "can_edit_settings": false,
                        "can_upload_files": true,
                        "can_view_files": true,
                        "hourly_rate": null
                      }
                    ],
                    "stage_access": [
                      {
                        "stage_id": "STG5312628",
                        "can_approve_deliverables": false,
                        "can_modify_timeline": false,
                        "can_assign_tasks": false,
                        "can_upload_files": true,
                        "can_view_files": true
                      }
                    ],
                    "can_invite_members": false,
                    "can_edit_project": false,
                    "email_notifications": true,
                    "notification_preferences": {},
                    "default_hourly_rate": null,
                    "total_hours_logged": 0,
                    "notes": null,
                    "custom_title": null,
                    "invited_by": {
                      "id": "6889c66e9d908cba35628418",
                      "name": "Super Jana"
                    },
                    "invitation_accepted_at": null
                  },
                  {
                    "created_at": "2025-09-04T12:23:22",
                    "updated_at": "2025-09-04T12:23:22",
                    "created_by": null,
                    "updated_by": null,
                    "member_id": "MEM9642868942",
                    "user_id": "68a739771f4a843a4143f14b",
                    "project_id": "PROJECT340107",
                    "is_active": true,
                    "joined_at": "2025-09-04T12:23:22",
                    "left_at": null,
                    "department_access": [
                      {
                        "department_id": "DEPT475787",
                        "access_level": "user",
                        "can_manage_members": false,
                        "can_view_financials": false,
                        "can_edit_settings": false,
                        "can_upload_files": true,
                        "can_view_files": true,
                        "hourly_rate": null
                      }
                    ],
                    "stage_access": [
                      {
                        "stage_id": "STG5312628",
                        "can_approve_deliverables": false,
                        "can_modify_timeline": false,
                        "can_assign_tasks": false,
                        "can_upload_files": true,
                        "can_view_files": true
                      }
                    ],
                    "can_invite_members": false,
                    "can_edit_project": false,
                    "email_notifications": true,
                    "notification_preferences": null,
                    "default_hourly_rate": null,
                    "total_hours_logged": 0,
                    "notes": null,
                    "custom_title": null,
                    "invited_by": {
                      "id": "68a2e1cac492c966d80b89e2",
                      "name": "pushpendu jana"
                    },
                    "invitation_accepted_at": null
                  },
                  {
                    "created_at": "2025-09-04T19:42:58",
                    "updated_at": "2025-09-04T19:42:58",
                    "created_by": null,
                    "updated_by": null,
                    "member_id": "MEM0604137588",
                    "user_id": "68a739771f4a843a4143f14b",
                    "project_id": "PROJECT340107",
                    "is_active": true,
                    "joined_at": "2025-09-04T19:42:58",
                    "left_at": null,
                    "department_access": [
                      {
                        "department_id": "DEPT475787",
                        "access_level": "user",
                        "can_manage_members": false,
                        "can_view_financials": false,
                        "can_edit_settings": false,
                        "can_upload_files": true,
                        "can_view_files": true,
                        "hourly_rate": null
                      }
                    ],
                    "stage_access": [
                      {
                        "stage_id": "STG5312628",
                        "can_approve_deliverables": false,
                        "can_modify_timeline": false,
                        "can_assign_tasks": false,
                        "can_upload_files": true,
                        "can_view_files": true
                      }
                    ],
                    "can_invite_members": false,
                    "can_edit_project": false,
                    "email_notifications": true,
                    "notification_preferences": null,
                    "default_hourly_rate": null,
                    "total_hours_logged": 0,
                    "notes": null,
                    "custom_title": null,
                    "invited_by": {
                      "id": "6889c66e9d908cba35628418",
                      "name": "Super Jana"
                    },
                    "invitation_accepted_at": null
                  }
                ]
              }
            ],
            "stages": [
              {
                "created_at": "2025-09-03T17:22:10",
                "updated_at": "2025-09-03T17:22:10",
                "created_by": null,
                "updated_by": null,
                "stage_id": "STG5222200",
                "project_id": "PROJECT340107",
                "department_id": "DEPT475787",
                "company_id": "DIYVAAX7T5",
                "stage_name": "Requirement Gathering",
                "stage_description": "Collect all necessary requirements from stakeholders.",
                "status": "in_progress",
                "order": 1,
                "deadline": null,
                "started_at": null,
                "completed_at": null,
                "estimated_hours": null,
                "actual_hours": null,
                "completion_percentage": 0,
                "is_completed": false,
                "is_blocked": false,
                "blocking_reason": null,
                "requires_approval": false,
                "approved_by": null,
                "approved_at": null,
                "tags": [],
                "priority": 1,
                "depends_on": [],
                "notes": null,
                "client_notes": null,
                "custom_fields": {},
                "members": [
                  {
                    "created_at": "2025-09-03T17:25:08",
                    "updated_at": "2025-09-03T20:31:54",
                    "created_by": null,
                    "updated_by": null,
                    "member_id": "MEM6705372140",
                    "user_id": "68a735830ea5bace430d3086",
                    "project_id": "PROJECT340107",
                    "is_active": true,
                    "joined_at": "2025-09-03T17:25:08",
                    "left_at": null,
                    "department_access": [
                      {
                        "department_id": "DEPT475787",
                        "access_level": "user",
                        "can_manage_members": false,
                        "can_view_financials": false,
                        "can_edit_settings": false,
                        "can_upload_files": true,
                        "can_view_files": true,
                        "hourly_rate": null
                      }
                    ],
                    "stage_access": [
                      {
                        "stage_id": "STG5222200",
                        "can_approve_deliverables": false,
                        "can_modify_timeline": false,
                        "can_assign_tasks": false,
                        "can_upload_files": true,
                        "can_view_files": true
                      }
                    ],
                    "can_invite_members": false,
                    "can_edit_project": false,
                    "email_notifications": true,
                    "notification_preferences": {},
                    "default_hourly_rate": null,
                    "total_hours_logged": 0,
                    "notes": null,
                    "custom_title": null,
                    "invited_by": {
                      "id": "6889c66e9d908cba35628418",
                      "name": "Super Jana"
                    },
                    "invitation_accepted_at": null
                  },
                  {
                    "created_at": "2025-09-03T17:32:08",
                    "updated_at": "2025-09-03T20:31:53",
                    "created_by": null,
                    "updated_by": null,
                    "member_id": "MEM3664165058",
                    "user_id": "68a734c70ea5bace430d3085",
                    "project_id": "PROJECT340107",
                    "is_active": true,
                    "joined_at": "2025-09-03T17:32:08",
                    "left_at": null,
                    "department_access": [
                      {
                        "department_id": "DEPT475787",
                        "access_level": "user",
                        "can_manage_members": false,
                        "can_view_financials": false,
                        "can_edit_settings": false,
                        "can_upload_files": true,
                        "can_view_files": true,
                        "hourly_rate": null
                      }
                    ],
                    "stage_access": [
                      {
                        "stage_id": "STG5222200",
                        "can_approve_deliverables": false,
                        "can_modify_timeline": false,
                        "can_assign_tasks": false,
                        "can_upload_files": true,
                        "can_view_files": true
                      }
                    ],
                    "can_invite_members": false,
                    "can_edit_project": false,
                    "email_notifications": true,
                    "notification_preferences": {},
                    "default_hourly_rate": null,
                    "total_hours_logged": 0,
                    "notes": null,
                    "custom_title": null,
                    "invited_by": {
                      "id": "6889c66e9d908cba35628418",
                      "name": "Super Jana"
                    },
                    "invitation_accepted_at": null
                  },
                  {
                    "created_at": "2025-09-03T17:25:08",
                    "updated_at": "2025-09-03T19:59:22",
                    "created_by": null,
                    "updated_by": null,
                    "member_id": "MEM4227447395",
                    "user_id": "68a2e1cac492c966d80b89e2",
                    "project_id": "PROJECT340107",
                    "is_active": true,
                    "joined_at": "2025-09-03T17:25:08",
                    "left_at": null,
                    "department_access": [
                      {
                        "department_id": "DEPT475787",
                        "access_level": "admin",
                        "can_manage_members": false,
                        "can_view_financials": false,
                        "can_edit_settings": false,
                        "can_upload_files": true,
                        "can_view_files": true,
                        "hourly_rate": null
                      }
                    ],
                    "stage_access": [
                      {
                        "stage_id": "STG5222200",
                        "can_approve_deliverables": false,
                        "can_modify_timeline": false,
                        "can_assign_tasks": false,
                        "can_upload_files": true,
                        "can_view_files": true
                      }
                    ],
                    "can_invite_members": false,
                    "can_edit_project": false,
                    "email_notifications": true,
                    "notification_preferences": {},
                    "default_hourly_rate": null,
                    "total_hours_logged": 0,
                    "notes": null,
                    "custom_title": null,
                    "invited_by": {
                      "id": "6889c66e9d908cba35628418",
                      "name": "Super Jana"
                    },
                    "invitation_accepted_at": null
                  }
                ]
              },
              {
                "created_at": "2025-09-03T17:22:10",
                "updated_at": "2025-09-03T17:22:10",
                "created_by": null,
                "updated_by": null,
                "stage_id": "STG5312628",
                "project_id": "PROJECT340107",
                "department_id": "DEPT475787",
                "company_id": "DIYVAAX7T5",
                "stage_name": "Implementation",
                "stage_description": "Develop the project based on the design.",
                "status": "in_progress",
                "order": 2,
                "deadline": null,
                "started_at": null,
                "completed_at": null,
                "estimated_hours": null,
                "actual_hours": null,
                "completion_percentage": 0,
                "is_completed": false,
                "is_blocked": false,
                "blocking_reason": null,
                "requires_approval": false,
                "approved_by": null,
                "approved_at": null,
                "tags": [],
                "priority": 1,
                "depends_on": [],
                "notes": null,
                "client_notes": null,
                "custom_fields": {},
                "members": [
                  {
                    "created_at": "2025-09-03T17:33:33",
                    "updated_at": "2025-09-03T20:15:52",
                    "created_by": null,
                    "updated_by": null,
                    "member_id": "MEM3829146348",
                    "user_id": "68b40a2f3fca3ea79e5896a2",
                    "project_id": "PROJECT340107",
                    "is_active": true,
                    "joined_at": "2025-09-03T17:33:33",
                    "left_at": null,
                    "department_access": [
                      {
                        "department_id": "DEPT475787",
                        "access_level": "user",
                        "can_manage_members": false,
                        "can_view_financials": false,
                        "can_edit_settings": false,
                        "can_upload_files": true,
                        "can_view_files": true,
                        "hourly_rate": null
                      }
                    ],
                    "stage_access": [
                      {
                        "stage_id": "STG5312628",
                        "can_approve_deliverables": false,
                        "can_modify_timeline": false,
                        "can_assign_tasks": false,
                        "can_upload_files": true,
                        "can_view_files": true
                      }
                    ],
                    "can_invite_members": false,
                    "can_edit_project": false,
                    "email_notifications": true,
                    "notification_preferences": {},
                    "default_hourly_rate": null,
                    "total_hours_logged": 0,
                    "notes": null,
                    "custom_title": null,
                    "invited_by": {
                      "id": "6889c66e9d908cba35628418",
                      "name": "Super Jana"
                    },
                    "invitation_accepted_at": null
                  },
                  {
                    "created_at": "2025-09-04T12:23:22",
                    "updated_at": "2025-09-04T12:23:22",
                    "created_by": null,
                    "updated_by": null,
                    "member_id": "MEM9642868942",
                    "user_id": "68a739771f4a843a4143f14b",
                    "project_id": "PROJECT340107",
                    "is_active": true,
                    "joined_at": "2025-09-04T12:23:22",
                    "left_at": null,
                    "department_access": [
                      {
                        "department_id": "DEPT475787",
                        "access_level": "user",
                        "can_manage_members": false,
                        "can_view_financials": false,
                        "can_edit_settings": false,
                        "can_upload_files": true,
                        "can_view_files": true,
                        "hourly_rate": null
                      }
                    ],
                    "stage_access": [
                      {
                        "stage_id": "STG5312628",
                        "can_approve_deliverables": false,
                        "can_modify_timeline": false,
                        "can_assign_tasks": false,
                        "can_upload_files": true,
                        "can_view_files": true
                      }
                    ],
                    "can_invite_members": false,
                    "can_edit_project": false,
                    "email_notifications": true,
                    "notification_preferences": null,
                    "default_hourly_rate": null,
                    "total_hours_logged": 0,
                    "notes": null,
                    "custom_title": null,
                    "invited_by": {
                      "id": "68a2e1cac492c966d80b89e2",
                      "name": "pushpendu jana"
                    },
                    "invitation_accepted_at": null
                  },
                  {
                    "created_at": "2025-09-04T19:42:58",
                    "updated_at": "2025-09-04T19:42:58",
                    "created_by": null,
                    "updated_by": null,
                    "member_id": "MEM0604137588",
                    "user_id": "68a739771f4a843a4143f14b",
                    "project_id": "PROJECT340107",
                    "is_active": true,
                    "joined_at": "2025-09-04T19:42:58",
                    "left_at": null,
                    "department_access": [
                      {
                        "department_id": "DEPT475787",
                        "access_level": "user",
                        "can_manage_members": false,
                        "can_view_financials": false,
                        "can_edit_settings": false,
                        "can_upload_files": true,
                        "can_view_files": true,
                        "hourly_rate": null
                      }
                    ],
                    "stage_access": [
                      {
                        "stage_id": "STG5312628",
                        "can_approve_deliverables": false,
                        "can_modify_timeline": false,
                        "can_assign_tasks": false,
                        "can_upload_files": true,
                        "can_view_files": true
                      }
                    ],
                    "can_invite_members": false,
                    "can_edit_project": false,
                    "email_notifications": true,
                    "notification_preferences": null,
                    "default_hourly_rate": null,
                    "total_hours_logged": 0,
                    "notes": null,
                    "custom_title": null,
                    "invited_by": {
                      "id": "6889c66e9d908cba35628418",
                      "name": "Super Jana"
                    },
                    "invitation_accepted_at": null
                  }
                ]
              },
              {
                "created_at": "2025-09-03T17:22:10",
                "updated_at": "2025-09-03T17:22:10",
                "created_by": null,
                "updated_by": null,
                "stage_id": "STG8467735",
                "project_id": "PROJECT340107",
                "department_id": "DEPT475787",
                "company_id": "DIYVAAX7T5",
                "stage_name": "Design Phase",
                "stage_description": "Create design documents and prototypes.",
                "status": "in_progress",
                "order": 3,
                "deadline": null,
                "started_at": null,
                "completed_at": null,
                "estimated_hours": null,
                "actual_hours": null,
                "completion_percentage": 0,
                "is_completed": false,
                "is_blocked": false,
                "blocking_reason": null,
                "requires_approval": false,
                "approved_by": null,
                "approved_at": null,
                "tags": [],
                "priority": 1,
                "depends_on": [],
                "notes": null,
                "client_notes": null,
                "custom_fields": {},
                "members": []
              }
            ],
            "all_members": [
              {
                "created_at": "2025-09-04T19:42:58",
                "updated_at": "2025-09-04T19:42:58",
                "created_by": null,
                "updated_by": null,
                "member_id": "MEM0604137588",
                "user_id": "68a739771f4a843a4143f14b",
                "project_id": "PROJECT340107",
                "is_active": true,
                "joined_at": "2025-09-04T19:42:58",
                "left_at": null,
                "department_access": [
                  {
                    "department_id": "DEPT475787",
                    "access_level": "user",
                    "can_manage_members": false,
                    "can_view_financials": false,
                    "can_edit_settings": false,
                    "can_upload_files": true,
                    "can_view_files": true,
                    "hourly_rate": null
                  }
                ],
                "stage_access": [
                  {
                    "stage_id": "STG5312628",
                    "can_approve_deliverables": false,
                    "can_modify_timeline": false,
                    "can_assign_tasks": false,
                    "can_upload_files": true,
                    "can_view_files": true
                  }
                ],
                "can_invite_members": false,
                "can_edit_project": false,
                "email_notifications": true,
                "notification_preferences": null,
                "default_hourly_rate": null,
                "total_hours_logged": 0,
                "notes": null,
                "custom_title": null,
                "invited_by": {
                  "id": "6889c66e9d908cba35628418",
                  "name": "Super Jana"
                },
                "invitation_accepted_at": null
              },
              {
                "created_at": "2025-09-04T12:23:22",
                "updated_at": "2025-09-04T12:23:22",
                "created_by": null,
                "updated_by": null,
                "member_id": "MEM9642868942",
                "user_id": "68a739771f4a843a4143f14b",
                "project_id": "PROJECT340107",
                "is_active": true,
                "joined_at": "2025-09-04T12:23:22",
                "left_at": null,
                "department_access": [
                  {
                    "department_id": "DEPT475787",
                    "access_level": "user",
                    "can_manage_members": false,
                    "can_view_financials": false,
                    "can_edit_settings": false,
                    "can_upload_files": true,
                    "can_view_files": true,
                    "hourly_rate": null
                  }
                ],
                "stage_access": [
                  {
                    "stage_id": "STG5312628",
                    "can_approve_deliverables": false,
                    "can_modify_timeline": false,
                    "can_assign_tasks": false,
                    "can_upload_files": true,
                    "can_view_files": true
                  }
                ],
                "can_invite_members": false,
                "can_edit_project": false,
                "email_notifications": true,
                "notification_preferences": null,
                "default_hourly_rate": null,
                "total_hours_logged": 0,
                "notes": null,
                "custom_title": null,
                "invited_by": {
                  "id": "68a2e1cac492c966d80b89e2",
                  "name": "pushpendu jana"
                },
                "invitation_accepted_at": null
              },
              {
                "created_at": "2025-09-04T12:11:15",
                "updated_at": "2025-09-04T12:22:59",
                "created_by": null,
                "updated_by": null,
                "member_id": "MEM5256778431",
                "user_id": "68a739771f4a843a4143f14b",
                "project_id": "PROJECT340107",
                "is_active": true,
                "joined_at": "2025-09-04T12:11:15",
                "left_at": null,
                "department_access": [],
                "stage_access": [],
                "can_invite_members": false,
                "can_edit_project": false,
                "email_notifications": true,
                "notification_preferences": null,
                "default_hourly_rate": null,
                "total_hours_logged": 0,
                "notes": null,
                "custom_title": null,
                "invited_by": {
                  "id": "68a2e1cac492c966d80b89e2",
                  "name": "pushpendu jana"
                },
                "invitation_accepted_at": null
              },
              {
                "created_at": "2025-09-03T17:33:33",
                "updated_at": "2025-09-03T20:15:52",
                "created_by": null,
                "updated_by": null,
                "member_id": "MEM3829146348",
                "user_id": "68b40a2f3fca3ea79e5896a2",
                "project_id": "PROJECT340107",
                "is_active": true,
                "joined_at": "2025-09-03T17:33:33",
                "left_at": null,
                "department_access": [
                  {
                    "department_id": "DEPT475787",
                    "access_level": "user",
                    "can_manage_members": false,
                    "can_view_financials": false,
                    "can_edit_settings": false,
                    "can_upload_files": true,
                    "can_view_files": true,
                    "hourly_rate": null
                  }
                ],
                "stage_access": [
                  {
                    "stage_id": "STG5312628",
                    "can_approve_deliverables": false,
                    "can_modify_timeline": false,
                    "can_assign_tasks": false,
                    "can_upload_files": true,
                    "can_view_files": true
                  }
                ],
                "can_invite_members": false,
                "can_edit_project": false,
                "email_notifications": true,
                "notification_preferences": {},
                "default_hourly_rate": null,
                "total_hours_logged": 0,
                "notes": null,
                "custom_title": null,
                "invited_by": {
                  "id": "6889c66e9d908cba35628418",
                  "name": "Super Jana"
                },
                "invitation_accepted_at": null
              },
              {
                "created_at": "2025-09-03T17:32:08",
                "updated_at": "2025-09-03T20:31:53",
                "created_by": null,
                "updated_by": null,
                "member_id": "MEM3664165058",
                "user_id": "68a734c70ea5bace430d3085",
                "project_id": "PROJECT340107",
                "is_active": true,
                "joined_at": "2025-09-03T17:32:08",
                "left_at": null,
                "department_access": [
                  {
                    "department_id": "DEPT475787",
                    "access_level": "user",
                    "can_manage_members": false,
                    "can_view_financials": false,
                    "can_edit_settings": false,
                    "can_upload_files": true,
                    "can_view_files": true,
                    "hourly_rate": null
                  }
                ],
                "stage_access": [
                  {
                    "stage_id": "STG5222200",
                    "can_approve_deliverables": false,
                    "can_modify_timeline": false,
                    "can_assign_tasks": false,
                    "can_upload_files": true,
                    "can_view_files": true
                  }
                ],
                "can_invite_members": false,
                "can_edit_project": false,
                "email_notifications": true,
                "notification_preferences": {},
                "default_hourly_rate": null,
                "total_hours_logged": 0,
                "notes": null,
                "custom_title": null,
                "invited_by": {
                  "id": "6889c66e9d908cba35628418",
                  "name": "Super Jana"
                },
                "invitation_accepted_at": null
              },
              {
                "created_at": "2025-09-03T17:25:08",
                "updated_at": "2025-09-03T19:59:22",
                "created_by": null,
                "updated_by": null,
                "member_id": "MEM4227447395",
                "user_id": "68a2e1cac492c966d80b89e2",
                "project_id": "PROJECT340107",
                "is_active": true,
                "joined_at": "2025-09-03T17:25:08",
                "left_at": null,
                "department_access": [
                  {
                    "department_id": "DEPT475787",
                    "access_level": "admin",
                    "can_manage_members": false,
                    "can_view_financials": false,
                    "can_edit_settings": false,
                    "can_upload_files": true,
                    "can_view_files": true,
                    "hourly_rate": null
                  }
                ],
                "stage_access": [
                  {
                    "stage_id": "STG5222200",
                    "can_approve_deliverables": false,
                    "can_modify_timeline": false,
                    "can_assign_tasks": false,
                    "can_upload_files": true,
                    "can_view_files": true
                  }
                ],
                "can_invite_members": false,
                "can_edit_project": false,
                "email_notifications": true,
                "notification_preferences": {},
                "default_hourly_rate": null,
                "total_hours_logged": 0,
                "notes": null,
                "custom_title": null,
                "invited_by": {
                  "id": "6889c66e9d908cba35628418",
                  "name": "Super Jana"
                },
                "invitation_accepted_at": null
              },
              {
                "created_at": "2025-09-03T17:25:08",
                "updated_at": "2025-09-03T20:31:54",
                "created_by": null,
                "updated_by": null,
                "member_id": "MEM6705372140",
                "user_id": "68a735830ea5bace430d3086",
                "project_id": "PROJECT340107",
                "is_active": true,
                "joined_at": "2025-09-03T17:25:08",
                "left_at": null,
                "department_access": [
                  {
                    "department_id": "DEPT475787",
                    "access_level": "user",
                    "can_manage_members": false,
                    "can_view_financials": false,
                    "can_edit_settings": false,
                    "can_upload_files": true,
                    "can_view_files": true,
                    "hourly_rate": null
                  }
                ],
                "stage_access": [
                  {
                    "stage_id": "STG5222200",
                    "can_approve_deliverables": false,
                    "can_modify_timeline": false,
                    "can_assign_tasks": false,
                    "can_upload_files": true,
                    "can_view_files": true
                  }
                ],
                "can_invite_members": false,
                "can_edit_project": false,
                "email_notifications": true,
                "notification_preferences": {},
                "default_hourly_rate": null,
                "total_hours_logged": 0,
                "notes": null,
                "custom_title": null,
                "invited_by": {
                  "id": "6889c66e9d908cba35628418",
                  "name": "Super Jana"
                },
                "invitation_accepted_at": null
              }
            ],
            "user_access": "full_admin_access"
          },
          "meta": {
            "project_id": "PROJECT340107",
            "user_access_level": "superadmin",
            "departments_count": 1,
            "stages_count": 3,
            "has_full_access": true
          }
        }
      }
    ],
    "HTTP Request2": [
      {
        "json": {
          "success": true,
          "message": "Projects with status 'draft' fetched successfully.",
          "data": [
            {
              "created_at": "2026-01-12T11:15:03",
              "updated_at": "2026-01-12T11:15:03",
              "created_by": null,
              "updated_by": null,
              "project_id": "PROJECT603931",
              "project_name": "S-2447 BANSWARA PROPOSAL 5 TON CRANE",
              "client_company_name": "Aba comp",
              "partner_id": "692720211e26bc74fe51d0c2",
              "partner_name": "Pushpendu Jana",
              "location": {
                "address": "32-c,nakoda nagar ii",
                "pincode": "313001",
                "state": "rajasthan",
                "city": "udaipur",
                "latitude": null,
                "longitude": null,
                "area": null
              },
              "phone_number": [
                {
                  "phone_number_extension": "91",
                  "phone_number": "2345678909"
                },
                {
                  "phone_number_extension": "91",
                  "phone_number": "6543219089"
                }
              ],
              "email": "hgj@gmail.com",
              "status": "draft",
              "deadline": null,
              "project_manager_id": null,
              "description": null,
              "deal_id": [
                "69648a5de40912cf4b67cd78"
              ],
              "estimated_budget": null,
              "actual_cost": null,
              "priority": 1,
              "tags": [],
              "completion_percentage": 0,
              "commission": 2,
              "partner_details": {
                "first_name": "Pushpendu",
                "last_name": "Jana",
                "email": "pushpendu.jana@engg.versalence.ai",
                "role": "admin",
                "phone_numbers": [
                  {
                    "is_verified": false,
                    "phone_number_extension": "91",
                    "phone_number": "8336870054"
                  }
                ],
                "account_type": "partner",
                "profile_url": "https://s3.diyprefab.com/project-files/companies/WNFACHC1I4/users/692720211e26bc74fe51d0c2/profile_images/f31216c8-1d18-4855-9b2c-af41307b860d.jpg"
              }
            },
            {
              "created_at": "2026-01-12T11:04:51",
              "updated_at": "2026-01-12T11:04:51",
              "created_by": null,
              "updated_by": null,
              "project_id": "PROJECT321700",
              "project_name": "12-01-2026-deal-1",
              "client_company_name": "XYZ",
              "partner_id": "692720211e26bc74fe51d0c2",
              "partner_name": "Pushpendu Jana",
              "location": {
                "address": "plot no. 23, midc industrial area",
                "pincode": "560080",
                "state": "karnataka",
                "city": "bengaluru",
                "latitude": null,
                "longitude": null,
                "area": "KIttiganali"
              },
              "phone_number": [
                {
                  "phone_number_extension": "91",
                  "phone_number": "9745687912"
                }
              ],
              "email": "priyasen@gmail.com",
              "status": "draft",
              "deadline": null,
              "project_manager_id": null,
              "description": null,
              "deal_id": [
                "696487f9e40912cf4b67cd48"
              ],
              "estimated_budget": null,
              "actual_cost": null,
              "priority": 1,
              "tags": [],
              "completion_percentage": 0,
              "commission": 2,
              "partner_details": {
                "first_name": "Pushpendu",
                "last_name": "Jana",
                "email": "pushpendu.jana@engg.versalence.ai",
                "role": "admin",
                "phone_numbers": [
                  {
                    "is_verified": false,
                    "phone_number_extension": "91",
                    "phone_number": "8336870054"
                  }
                ],
                "account_type": "partner",
                "profile_url": "https://s3.diyprefab.com/project-files/companies/WNFACHC1I4/users/692720211e26bc74fe51d0c2/profile_images/f31216c8-1d18-4855-9b2c-af41307b860d.jpg"
              }
            },
            {
              "created_at": "2026-01-12T10:43:09",
              "updated_at": "2026-01-12T10:43:09",
              "created_by": null,
              "updated_by": null,
              "project_id": "PROJECT071244",
              "project_name": "thgtrhtr",
              "client_company_name": "HFC",
              "partner_id": "69525e335ff4d6111d2c41ab",
              "partner_name": "Kt L",
              "location": {
                "address": "madhab nagar",
                "pincode": "743371",
                "state": "west bengal",
                "city": "south 24 parganas",
                "latitude": null,
                "longitude": null,
                "area": "ewfewfwe"
              },
              "phone_number": [
                {
                  "phone_number_extension": "91",
                  "phone_number": "6543219078"
                }
              ],
              "email": "ktl@gmail.com",
              "status": "draft",
              "deadline": null,
              "project_manager_id": null,
              "description": null,
              "deal_id": [
                "696482e3e40912cf4b67cce0"
              ],
              "estimated_budget": null,
              "actual_cost": null,
              "priority": 1,
              "tags": [],
              "completion_percentage": 0,
              "commission": 2,
              "partner_details": {
                "first_name": "Kt",
                "last_name": "L",
                "email": "ktl@gmail.com",
                "role": "employee",
                "phone_numbers": [
                  {
                    "is_verified": false,
                    "phone_number_extension": "91",
                    "phone_number": "6543219078"
                  }
                ],
                "account_type": "customer",
                "profile_url": null
              }
            },
            {
              "created_at": "2026-01-11T21:43:31",
              "updated_at": "2026-01-11T21:43:31",
              "created_by": null,
              "updated_by": null,
              "project_id": "PROJECT049304",
              "project_name": "Jebel Ali Industrial Area",
              "client_company_name": "Jebel Ali",
              "partner_id": "696103f5e40912cf4b67cc30",
              "partner_name": "Lijo Mathew",
              "location": {
                "address": "jebel ali industrial area",
                "pincode": "610590",
                "state": "dubai",
                "city": "dubai",
                "latitude": null,
                "longitude": null,
                "area": "Jebel Ali Industrial Area"
              },
              "phone_number": [
                {
                  "phone_number_extension": "91",
                  "phone_number": "6362366933"
                }
              ],
              "email": "lijo@arscnetworks.com",
              "status": "draft",
              "deadline": null,
              "project_manager_id": null,
              "description": null,
              "deal_id": [
                "6963cc29e40912cf4b67cc4b"
              ],
              "estimated_budget": null,
              "actual_cost": null,
              "priority": 1,
              "tags": [],
              "completion_percentage": 0,
              "commission": 2,
              "partner_details": {
                "first_name": "Lijo",
                "last_name": "Mathew",
                "email": "lijo@arscnetworks.com",
                "role": "admin",
                "phone_numbers": [
                  {
                    "is_verified": false,
                    "phone_number_extension": "91",
                    "phone_number": "9606800781"
                  }
                ],
                "account_type": "partner",
                "profile_url": null
              }
            },
            {
              "created_at": "2026-01-09T17:02:52",
              "updated_at": "2026-01-09T17:02:52",
              "created_by": null,
              "updated_by": null,
              "project_id": "PROJECT932718",
              "project_name": "email test 2",
              "client_company_name": "ajhghj",
              "partner_id": "695f9d48fc7a1001a5a44172",
              "partner_name": "natan test Patric Batemen",
              "location": {
                "address": "plot no. 5",
                "pincode": "562106",
                "state": "karnataka",
                "city": "south greens",
                "latitude": null,
                "longitude": null,
                "area": "Kalyani"
              },
              "phone_number": [
                {
                  "phone_number_extension": "91",
                  "phone_number": "8336870000"
                }
              ],
              "email": "testcompanyy@gmail.com",
              "status": "draft",
              "deadline": null,
              "project_manager_id": null,
              "description": null,
              "deal_id": [
                "6960e762e1c38d2d3f87ba23"
              ],
              "estimated_budget": null,
              "actual_cost": null,
              "priority": 1,
              "tags": [],
              "completion_percentage": 0,
              "commission": 2,
              "partner_details": {
                "first_name": "natan test",
                "last_name": "Patric Batemen",
                "email": "testcompanyy@gmail.com",
                "role": "admin",
                "phone_numbers": [
                  {
                    "is_verified": false,
                    "phone_number_extension": "91",
                    "phone_number": "8336870000"
                  }
                ],
                "account_type": "customer",
                "profile_url": null
              }
            },
            {
              "created_at": "2026-01-09T13:00:16",
              "updated_at": "2026-01-09T13:00:16",
              "created_by": null,
              "updated_by": null,
              "project_id": "PROJECT470284",
              "project_name": "niv",
              "client_company_name": "nithacomp",
              "partner_id": "692d93b1b368c11d49e83f9a",
              "partner_name": "pushpendu jana",
              "location": {
                "address": "df",
                "pincode": "765348",
                "state": "karnataka",
                "city": "bengalure",
                "latitude": null,
                "longitude": null,
                "area": "white field"
              },
              "phone_number": null,
              "email": null,
              "status": "draft",
              "deadline": null,
              "project_manager_id": null,
              "description": null,
              "deal_id": [
                "6960ae86be4a93959f5b907a"
              ],
              "estimated_budget": null,
              "actual_cost": null,
              "priority": 1,
              "tags": [],
              "completion_percentage": 0,
              "commission": 2,
              "partner_details": {
                "first_name": "pushpendu",
                "last_name": "jana",
                "email": "pushpendujana2@gmail.com",
                "role": "admin",
                "phone_numbers": [
                  {
                    "is_verified": false,
                    "phone_number_extension": "91",
                    "phone_number": "8336870557"
                  },
                  {
                    "is_verified": false,
                    "phone_number_extension": "91",
                    "phone_number": "8336870555"
                  }
                ],
                "account_type": "customer",
                "profile_url": "https://s3.diyprefab.com/project-files/companies/HFCN0CJY7E/users/692d93b1b368c11d49e83f9a/profile_images/f077c46d-0626-42c7-b2be-5c64d87746f1.jpg"
              }
            },
            {
              "created_at": "2026-01-09T12:53:23",
              "updated_at": "2026-01-09T12:53:23",
              "created_by": null,
              "updated_by": null,
              "project_id": "PROJECT758946",
              "project_name": "Custom",
              "client_company_name": "vcomp",
              "partner_id": "692d93b1b368c11d49e83f9a",
              "partner_name": "pushpendu jana",
              "location": {
                "address": "asd street",
                "pincode": "765348",
                "state": "maharastra",
                "city": "pune",
                "latitude": null,
                "longitude": null,
                "area": "white field"
              },
              "phone_number": null,
              "email": null,
              "status": "draft",
              "deadline": null,
              "project_manager_id": null,
              "description": null,
              "deal_id": [
                "6960acea0b5efaf67ccceb50"
              ],
              "estimated_budget": null,
              "actual_cost": null,
              "priority": 1,
              "tags": [],
              "completion_percentage": 0,
              "commission": 2,
              "partner_details": {
                "first_name": "pushpendu",
                "last_name": "jana",
                "email": "pushpendujana2@gmail.com",
                "role": "admin",
                "phone_numbers": [
                  {
                    "is_verified": false,
                    "phone_number_extension": "91",
                    "phone_number": "8336870557"
                  },
                  {
                    "is_verified": false,
                    "phone_number_extension": "91",
                    "phone_number": "8336870555"
                  }
                ],
                "account_type": "customer",
                "profile_url": "https://s3.diyprefab.com/project-files/companies/HFCN0CJY7E/users/692d93b1b368c11d49e83f9a/profile_images/f077c46d-0626-42c7-b2be-5c64d87746f1.jpg"
              }
            },
            {
              "created_at": "2026-01-08T18:05:48",
              "updated_at": "2026-01-08T18:05:48",
              "created_by": null,
              "updated_by": null,
              "project_id": "PROJECT887787",
              "project_name": "test deal",
              "client_company_name": "test company",
              "partner_id": "695e53448970603169f2e321",
              "partner_name": "Dd S",
              "location": {
                "address": "plot no. 45, green valley road",
                "pincode": "478564",
                "state": "west bengal",
                "city": "pathar pratima",
                "latitude": null,
                "longitude": null,
                "area": "Madhapur"
              },
              "phone_number": [
                {
                  "phone_number_extension": "91",
                  "phone_number": "8555445555"
                }
              ],
              "email": "pushpendu.jana@engg.versalence.ai",
              "status": "draft",
              "deadline": null,
              "project_manager_id": null,
              "description": null,
              "deal_id": [
                "695fa4a2fc7a1001a5a44187"
              ],
              "estimated_budget": null,
              "actual_cost": null,
              "priority": 1,
              "tags": [],
              "completion_percentage": 0,
              "commission": 2,
              "partner_details": {
                "first_name": "Dd",
                "last_name": "S",
                "email": "dd@gmail.com",
                "role": "admin",
                "phone_numbers": [
                  {
                    "is_verified": false,
                    "phone_number_extension": "91",
                    "phone_number": "9966666000"
                  }
                ],
                "account_type": "partner",
                "profile_url": null
              }
            },
            {
              "created_at": "2026-01-08T12:22:38",
              "updated_at": "2026-01-08T12:22:38",
              "created_by": null,
              "updated_by": null,
              "project_id": "PROJECT305496",
              "project_name": "weqwewewr",
              "client_company_name": "Versalence",
              "partner_id": "692729d81e26bc74fe51d0ee",
              "partner_name": "Pushpendu Jana",
              "location": {
                "address": "4r345345 rter",
                "pincode": "987321",
                "state": "yiooo####",
                "city": "tertrtywryt",
                "latitude": null,
                "longitude": null,
                "area": null
              },
              "phone_number": [
                {
                  "phone_number_extension": "91",
                  "phone_number": "9999999999"
                }
              ],
              "email": "partneraccount@gmail.com",
              "status": "draft",
              "deadline": null,
              "project_manager_id": null,
              "description": null,
              "deal_id": [
                "695f5434230e3a4f139c7700"
              ],
              "estimated_budget": null,
              "actual_cost": null,
              "priority": 1,
              "tags": [],
              "completion_percentage": 0,
              "commission": 2,
              "partner_details": {
                "first_name": "Pushpendu",
                "last_name": "Jana",
                "email": "pushpendujana008@gmail.com",
                "role": "superadmin",
                "phone_numbers": [
                  {
                    "is_verified": false,
                    "phone_number_extension": "91",
                    "phone_number": "8336870055"
                  },
                  {
                    "is_verified": false,
                    "phone_number_extension": "91",
                    "phone_number": "8336870055"
                  },
                  {
                    "is_verified": false,
                    "phone_number_extension": "91",
                    "phone_number": "8336870058"
                  }
                ],
                "account_type": "platform_provider",
                "profile_url": "https://s3.diyprefab.com/project-files/companies/DIYVAAX7T5/users/692729d81e26bc74fe51d0ee/profile_images/19ec3e1c-2ad0-4773-825e-8643c57a27fe.jpg"
              }
            },
            {
              "created_at": "2026-01-08T11:34:37",
              "updated_at": "2026-01-08T11:34:37",
              "created_by": null,
              "updated_by": null,
              "project_id": "PROJECT677093",
              "project_name": "08-01-2026",
              "client_company_name": "ajhghj",
              "partner_id": "695f46cb230e3a4f139c76cc",
              "partner_name": "Patric Batemen Patric Batemen",
              "location": {
                "address": "plot no. 45, green valley road",
                "pincode": "743371",
                "state": "west bengal",
                "city": "south 24 parganas",
                "latitude": null,
                "longitude": null,
                "area": "Kalyani"
              },
              "phone_number": [
                {
                  "phone_number_extension": "91",
                  "phone_number": "8336870080"
                }
              ],
              "email": "testcompany@gmail.com",
              "status": "draft",
              "deadline": null,
              "project_manager_id": null,
              "description": null,
              "deal_id": [
                "695f48f3230e3a4f139c76db",
                "6960e6f4e1c38d2d3f87ba1f"
              ],
              "estimated_budget": null,
              "actual_cost": null,
              "priority": 1,
              "tags": [],
              "completion_percentage": 0,
              "commission": 2,
              "partner_details": {
                "first_name": "Patric Batemen",
                "last_name": "Patric Batemen",
                "email": "testcompany@gmail.com",
                "role": "admin",
                "phone_numbers": [
                  {
                    "is_verified": false,
                    "phone_number_extension": "91",
                    "phone_number": "8336870080"
                  }
                ],
                "account_type": "customer",
                "profile_url": null
              }
            }
          ],
          "meta": {
            "current_page": 1,
            "total_pages": 4,
            "total_count": 38,
            "remaining_pages": 3,
            "has_next": true,
            "has_previous": false,
            "showing": 10,
            "limit": 10,
            "filters": {
              "status": "draft",
              "sort_by": "created_at",
              "sort_order": "desc",
              "user_access": "superadmin"
            }
          }
        },
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "When chat message received": [
      {
        "json": {
          "action": "sendMessage",
          "sessionId": "c7628d93-d270-459e-8027-d0e43aad5452",
          "chatInput": "provide details about deal str",
          "metadata": {
            "userDetails": {
              "userId": "695e3b8f8970603169f2e308",
              "name": "Kavya N",
              "email": "kavyasreen92@gmail.com",
              "userRole": "partner",
              "account_type": "partner",
              "token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiI2OTVlM2I4Zjg5NzA2MDMxNjlmMmUzMDgiLCJlbWFpbCI6Imthdnlhc3JlZW45MkBnbWFpbC5jb20iLCJyb2xlIjoiYWRtaW4iLCJ1c2VyX3R5cGUiOiJwYXJ0bmVyIiwic2Vzc2lvbl9pZCI6IjkyYjA5YmQzLWMzMjAtNGI2OS1hZTQ2LWZmOWVkYTZiMWY4MiIsImV4cCI6MTc3MDg3MDY0Mn0.MQWOIc9HMxLOtI7Fz1cQpb3zGMDDXgt3ckYt42Vnfyg"
            },
            "timestamp": 1769594802878
          }
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "HTTP Request4",
            "type": "main",
            "index": 0
          },
          {
            "node": "Chat Memory Manager2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Session memory": {
      "ai_memory": [
        []
      ]
    },
    "chatRetriever": {
      "ai_memory": [
        [
          {
            "node": "Force HTTP context",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "capture http request context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        []
      ]
    },
    "Chat Memory Manager3": {
      "main": [
        [
          {
            "node": "New session check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory2": {
      "ai_memory": [
        [
          {
            "node": "Chat Memory Manager3",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "capture http request context": {
      "main": [
        [
          {
            "node": "Split Out2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge2",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "New session check": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Insert message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "chatAppend1": {
      "ai_memory": [
        [
          {
            "node": "Insert http context into memory",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Insert http context into memory": {
      "main": [
        [
          {
            "node": "Force HTTP context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory1": {
      "ai_memory": [
        [
          {
            "node": "Get convo history",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Get convo history": {
      "main": [
        [
          {
            "node": "PP Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert message": {
      "main": [
        [
          {
            "node": "Get convo history",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory3": {
      "ai_memory": [
        [
          {
            "node": "Insert message",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Chat Memory Manager": {
      "main": [
        [
          {
            "node": "New session check1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory4": {
      "ai_memory": [
        [
          {
            "node": "Chat Memory Manager",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "New session check1": {
      "main": [
        [
          {
            "node": "get deals",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Insert messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get deals": {
      "main": [
        [
          {
            "node": "capture deal context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "capture deal context": {
      "main": [
        [
          {
            "node": "Split Out deals",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert context": {
      "main": [
        [
          {
            "node": "Force Provide RBAC Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory5": {
      "ai_memory": [
        [
          {
            "node": "Insert context",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory6": {
      "ai_memory": [
        [
          {
            "node": "Force Provide RBAC Context",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "PP Agent": {
      "main": [
        [
          {
            "node": "Chat Transcript",
            "type": "main",
            "index": 0
          },
          {
            "node": "Respond to Chat",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Fallback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        []
      ]
    },
    "Simple Memory8": {
      "ai_memory": [
        [
          {
            "node": "Insert messages",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Insert messages": {
      "main": [
        [
          {
            "node": "Get conversation history",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get conversation history": {
      "main": [
        [
          {
            "node": "Router Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory9": {
      "ai_memory": [
        [
          {
            "node": "Get conversation history",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Force Provide RBAC Context": {
      "main": [
        [
          {
            "node": "Router Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Force HTTP context": {
      "main": [
        [
          {
            "node": "PP Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Chat1": {
      "main": [
        []
      ]
    },
    "User Context": {
      "main": [
        [
          {
            "node": "Aggregate1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate1": {
      "main": [
        [
          {
            "node": "Insert context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out2": {
      "main": [
        [
          {
            "node": "get all deals (only for platform provider)1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Aggregate4",
            "type": "main",
            "index": 0
          },
          {
            "node": "return all project file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get all deals (only for platform provider)1": {
      "main": [
        [
          {
            "node": "grab all deals",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "company(partner/customer) uploaded files": {
      "main": [
        [
          {
            "node": "Filter active files1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "return all project file": {
      "main": [
        [
          {
            "node": "Filter active files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "grab all deals": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "capture active project files": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter active files": {
      "main": [
        [
          {
            "node": "capture active project files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Execute Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge2": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Insert http context into memory",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out deals": {
      "main": [
        [
          {
            "node": "company(partner/customer) uploaded files",
            "type": "main",
            "index": 0
          },
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter active files1": {
      "main": [
        [
          {
            "node": "capture active project files1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "capture active project files1": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Execute Workflow1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow1": {
      "main": [
        [
          {
            "node": "No Operation, do nothing1",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Router Agent": {
      "main": [
        [
          {
            "node": "Chat Transcript",
            "type": "main",
            "index": 0
          },
          {
            "node": "Respond to Chat1",
            "type": "main",
            "index": 0
          },
          {
            "node": "insert ai and user chat",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Fallback1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "deal agent": {
      "ai_tool": [
        [
          {
            "node": "Router Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "file agent": {
      "ai_tool": [
        [
          {
            "node": "Router Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "engineering agent": {
      "ai_tool": [
        [
          {
            "node": "Router Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Aggregate3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate3": {
      "main": [
        [
          {
            "node": "User Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "project agent": {
      "ai_tool": [
        [
          {
            "node": "PP Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "No Operation, do nothing": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Operation, do nothing1": {
      "main": [
        [
          {
            "node": "User Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "engineering agent1": {
      "ai_tool": [
        [
          {
            "node": "PP Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "file agent1": {
      "ai_tool": [
        [
          {
            "node": "PP Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate4": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Aggregate2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate2": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fallback1": {
      "main": [
        [
          {
            "node": "Chat Transcript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fallback": {
      "main": [
        [
          {
            "node": "Chat Transcript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory10": {
      "ai_memory": [
        [
          {
            "node": "insert ai and user chat",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory11": {
      "ai_memory": [
        [
          {
            "node": "insert ai and user chat1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request4": {
      "main": [
        [
          {
            "node": "Account type check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Account type check": {
      "main": [
        [
          {
            "node": "Chat Memory Manager",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Chat Memory Manager3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Session memory1": {
      "ai_memory": [
        [
          {
            "node": "Chat Memory Manager2",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "PP Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory1": {
      "ai_memory": [
        [
          {
            "node": "Router Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "SessionMemory": {
      "ai_memory": [
        [
          {
            "node": "When chat message received",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Router Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "PP Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Chat": {
      "main": [
        [
          {
            "node": "insert ai and user chat1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "timezone": "Asia/Kolkata",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "2610ec05-4429-42e2-9042-e49b15624dd1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d4b4d0eabe8fbefe07fcc9e93ff80219687990c826ebade8f76e4e6de90b238e"
  },
  "id": "BVvrf7K7IukpJ9IY",
  "tags": []
}
